@import "../brand-colors.scss";
@import '../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.section {
    padding-right: 35px;

    .fp-tableCell {
        padding-bottom: 80px !important;
    }
}

.section.shop {
    h1 {
        font-weight: bold;
        font-stretch: extra-expanded;
        font-size: calc(10px + 2vw);
        color: $audiBlack;
    }

    .collection {
        .collectionsWrapper {
            width: 28vw;

            a.collectionLink {
                text-decoration-line: none;

                &:hover {
                    text-decoration-line: none;

                    .aui-button {
                        background: rgba(51, 51, 51, 1) !important;
                        border: 1px solid rgba(51, 51, 51, 1) !important
                    }

                    .collectionImg {
                        filter: opacity(.9);
                        -webkit-transform: translateZ(0), translateY(0), translateX(0);
                        transform: translateZ(0), translateY(0), translateX(0);
                    }
                }

                .aui-button {
                    transition: 0s !important;
                }

                .collectionImg {
                    height: 33vw;
                    width: 100%;
                    -webkit-transform: translateZ(0), translateY(0), translateX(0);
                    transform: translateZ(0), translateY(0), translateX(0);

                }
            }
        }
    }

    .accessories {
        .accessoriesWrapper {
            width: 28vw;

            a.accessoriesLink {
                text-decoration-line: none;

                &:hover {
                    text-decoration-line: none;

                    .aui-button {
                        background: rgba(51, 51, 51, 1) !important;
                        border: 1px solid rgba(51, 51, 51, 1) !important;
                    }

                    .accessoriesImg {
                        filter: opacity(.9);
                        -webkit-transform: translateZ(0), translateY(0), translateX(0);
                        transform: translateZ(0), translateY(0), translateX(0);
                    }
                }

                .aui-button {
                    transition: 0s !important;
                }

                .accessoriesImg {
                    height: 33vw;
                    width: 100%;
                    -webkit-transform: translateZ(0), translateY(0), translateX(0);
                    transform: translateZ(0), translateY(0), translateX(0);
                }

            }

        }

    }
}

.section.newestProduct {
    .newestProductSlider {
        h1 {
            font-weight: bold;
            font-stretch: extra-expanded;
            font-size: calc(10px + 2vw);
            color: $audiBlack;
            padding-bottom: 20px;
        }
    }
}