@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

hr.divisionLinesMarginBottom {
    margin-bottom: 50px;
}

.containerModifier {
    .headline {
        @include defaultFont;
        font-size: calc(10px + 2vw);
        color: $audiBlack;
        text-align: center;
        margin-bottom: 30px;
    }

    hr {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: $audiGreyScale_7;
        /* old IE */
        background-color: $audiGreyScale_7;
        /* Modern Browsers */
    }

    .cartContentTitle {
        tr {
            th {
                @include defaultFont;
                // text-align: center;
                color: $audiBlack;
            }
        }
    }

    .cartItems {
        @include defaultFont;
        font-weight: 500;
        // text-align: center;

        .product {
            // display: flex;
            // flex-flow: wrap;
            // flex-direction: row;
            // justify-content: flex-start;
            // align-items: flex-start;

            .productImage {
                height: 50px;
                width: 50px;
                display: inline-block;
                margin-right: 20px;
            }

            .productName {
                font-size: calc(10px + 0.5vw);
                padding-top: 0.5rem;
                margin-bottom: 0;
                white-space: pre-line;
                word-wrap: break-word;
                overflow-wrap: break-word;
                display: inline-block;
            }
        }

        .color {
            .colorText {
                padding-top: 0.5rem;
                margin-bottom: 0;
            }
        }

        .size {
            .sizeText {
                padding-top: 0.5rem;
                margin-bottom: 0;
            }
        }

        .quantity {
            width: 13vw;
            padding-left: 12px;

            .flexWrap {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .minusBtn,
                .plusBtn {
                    @include defaultFont;
                    font-weight: 100;
                    font-size: 30px;
                    padding: 0;
                    border: none;
                    background: transparent;
                    color: $audiGreyScale_7;

                    &:hover {
                        @include audiTransitionEffect;
                        color: $audiBlack;
                    }

                    &:focus {
                        outline-color: transparent;
                    }

                    &:active {
                        font-weight: 400;
                    }
                }

                .quantityInputNumber {
                    padding-left: 12px;
                    width: 50%;
                    text-align: center;
                    color: $audiBlack;
                }
            }
        }

        .price {
            .priceText {
                padding-top: 0.5rem;
                margin-bottom: 0;
            }
        }

        .installation {
            .installationText {
                padding-top: 0.5rem;
                margin-bottom: 0;
            }
        }

        .delete {
            .deleteIcon {
                cursor: pointer;
                width: 50px;
                height: 50px;
                @include audiTransitionEffect;
                filter: grayscale(1) invert(0.4);

                &:hover {
                    filter: none;
                }
            }
        }


    }

    .basketTotal {
        h2 {
            @include defaultFont;
            font-size: calc(10px + 1vw);
            color: $audiBlack;
        }

        .flexWrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title,
            .price {
                @include defaultFont;
                color: $audiGreyScale_8;
                font-weight: 500;
            }

            .price {
                font-stretch: extra-expanded;
            }

            .title.bold,
            .price.bold {
                font-weight: 900;
                margin-bottom: 0;
            }
        }
    }

    // .discountCoupon {
    //     .aui-textfield__field {
    //         padding-top: 0 !important;
    //     }
    //     label {
    //         @include defaultFont;
    //         font-size: calc(7px + 1vw);
    //         color: $audiBlack;
    //         font-weight: 500;
    //     }
    //     hr {
    //         margin-top: 6px;
    //         height: 0.9px;
    //     }
    //     input {
    //         @include defaultFont;
    //         font-size: calc(5px + 0.7vw);
    //         color: $audiGreyScale_8;
    //         font-weight: 100;
    //     }
    // }

    .rightColCheckOut {
        margin-top: 6%;
        .checkOutOptions {
            p {
                @include defaultFont;
                font-size: calc(10px + 0.5vw);
                color: $audiGreyScale_8;
                margin-top: 10px;
            }

            a {
                @include defaultFont;
                text-decoration: none;
            }

            a.keepShoppingBtn {
                color: $audiBlack;

                &:hover {
                    color: $audiGreyScale_9;
                }
            }
        }
    }


}

//empty cart
.emptyCartNoticeWrapper {
    background: $audiGreyScale_1;
    height: 50vh;

    .emptyCartNotice {
        color: $audiBlack;
    }
}