@import '../../../components/brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.registerWrapper {
    height: 100%;
    h6{
        color: $audiGreyScale_7;
    }
    .registerFont {
        font-weight: bold;
    }
    .registerBtn {
        width: 290px;
        //   height: 80px;
        background: $audiBlack;
        color: $audiWhite;
        &:hover {
            text-decoration-line: none;
        }
    }
}