@import '../../../components/brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.singInFont{
  font-weight: bold;
}
h6{
  color: $audiGreyScale_7;
}
.signForm{
  h6{
    color: $audiGreyScale_7;
  }
  .forgot{
  color: $audiGreyScale_7;
  text-decoration: none
  }
  .signInBtn{
    background: $audiBlack;
    color: $audiWhite;
  }
}