
$font_size:16px;
$bar_height:30px;

* {
    box-sizing: border-box;
}

.chatroom_window {
    margin-top: 0;
    bottom: 0;
    right: 0;

    //scrollbar settings
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        width: 7px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: White;
    }

    ::-webkit-scrollbar-thumb {
        background: Black;
    }

    .chatroom {
        position: relative;
        height: 375px;
        width: 375px;
        border: 1px Gray solid;

        .chatroom_bar {
            height: $bar_height;
            background-color: Black;
            position: relative;

            .chatroom_minimize_area {
                height: $bar_height;
                width: 40px;
                position: absolute;
                right: 0;
                text-align: center;
                cursor: pointer;
            }

            .chatroom_close {
                color: White;
                position: absolute;

            }

            .wait {
                color: White;
                left: 0;
                top: 0;
            }
        }

        .messages {
            padding: 0px 5px;
            height: calc(100% - #{$bar_height} - #{$bar_height});
            width: 100%;
            overflow-y: auto;
            margin: 0px;
            background-color: White;
            white-space: pre-line;
            word-break: break-all;
            .message_left {
                display: flex;
                p{
                background-color: gray;
                color: White;
                border-radius: 10px;
                text-align: left; 
                padding: 5px 10px;
                }
                img{
                    height: 35px;
                }
            }
            .message_right{
                display: flex;
                justify-content: flex-end;
                p{
                background-color: gray;
                border-radius: 10px;
                padding: 5px 10px;
                }
                
            }
            .icon_hide{
                display: none;
            }
        }

        .message_bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: $bar_height;
            display: flex;

            .message_input {
                width: 80%;
            }

            .message_btn {
                width: 20%;
                font-size: $font_size;
                background-color: Black;
                color: White;
                line-height: $bar_height;
                border: none;
            }
        }

    }
}

