@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.productListingContainer {
    padding-top: 30px;    
    .productRows {
        padding-left: 1vw;
        .productWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                text-decoration-line: none;
                color: rgba($color: #000000, $alpha: 0.5);
                .productImg {
                    // width: 330px;
                    width: 15vw;
                }
    
                .productName,
                .productPrice {
                    @include defaultFont;
                    font-size: calc(5px + 1vw);
                    text-align: center;
                    font-weight: bold;
                    white-space: pre-line;
                    word-wrap: break-word;
                }
    
                .productName {
                    margin-bottom: 0;
                    margin-top: 16px;
                }
    
                .productPrice {
                    font-stretch: extra-expanded;
                }
            }
            a:hover {
                color: $audiBlack;
                text-decoration-line: none;
            }
        }
    }
}