@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.containerModifier {
    margin-top: 30px;
    padding-right: 50px;
    .productName {
        @include defaultFont;
        font-size: calc(10px + 2vw);
        color: $audiBlack;
        text-align: center;
        margin-bottom: 30px;
    }
    .leftPanel {
        text-align: center;
        
    }
    .rightPanel {
        @include defaultFont;
        .price {
            text-align: center;
            .discountedVersion {
                p {
                    margin-bottom: 0;
                    font-size: calc(8px + 1vw);
                    line-height: 1.2;
                }
                p.discountedPrice {
                    font-weight: bold;
                    color: $audiRed;
                }
                p.originalPrice {
                    font-weight: 300;
                    color: $audiGrey;
                    text-decoration: line-through;
                }
            }
            .originalVersion {
                p {
                    margin-bottom: 0;
                    font-size: calc(8px + 1vw);
                    line-height: 1.2;
                }
                p.originalPrice {
                    font-weight: bold;
                    color: $audiRed;
                }
            }
        }
        .productDescription {
            padding: 10px 0;
            white-space: pre-line;
            word-wrap    : break-word;
            overflow-wrap: break-word;
            color: $audiBlack;
            font-size: calc(10px + 0.5vw);
            p {
                margin: 0;
            }
        }
        .dropDownInputs {
            padding-bottom: 5px;
        }
        .quantity {
            padding-bottom: 20px;

            .quantityRow {
                display: flex;
                .minusBtn, 
                .plusBtn {
                    font-family: "Audi Type Screen";
                    font-weight: 100;
                    font-size: 30px;
                    padding: 0;
                    border: none;
                    background: transparent;
                    color: $audiGreyScale_7;
                    &:focus {
                        outline-color: transparent;
                    }
                    &:active {
                        font-weight: 400;
                    }
                }
                
                .quantityInputNumber {
                    text-align: center;
                    color: $audiGreyScale_7;
                }

                &:hover .hoverEffect,
                &:hover .quantityInputNumber{
                    @include audiTransitionEffect;
                    color: $audiBlack;
                }
            }
            
            
        }
        .secondaryBtns {
            padding: 5px 0;
            .aui-button {
                width: 100%;
                font-size: calc(5px + 0.5vw);
            }
            .cartIcon, 
            .favoriteIcon {
                width: 30px;
                padding-bottom: 5px;
                padding-right: 5px;
            }
            .favoriteIcon{
                display: inline;
            }
            .favoriteIcon.favorited{
              display: none;
            }
            .addToCartBtn:hover .cartIcon,
            .addToFavoriteBtn:hover .favoriteIcon {
                @include audiTransitionEffect;
                // filter: grayscale(1) invert(1);
                filter: grayscale(1) invert(0.4);
            }
            .addToCartBtn:focus .cartIcon,
            .addToFavoriteBtn:focus .favoriteIcon {
                @include audiTransitionEffect;
                filter: none;
            }
        }
        
        .primaryBtn {
            padding: 5px 0;
        }

    }

}

.productQueryTest {
    text-align: center;
}