@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.containerModifier {
    margin-top: 30px;
    padding-right: 50px;
    .headline {
        @include defaultFont;
        font-size: calc(10px + 2vw);
        color: $audiBlack;
        text-align: center;
        margin-bottom: 30px;
    }
}