@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.whirligigWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    .whirligigSlides {
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .productLinkHome {
                img {
                    width: 15vw;
                }
                &:hover ~ .contentWrap > .productLinkText{
                    color: black;
                }
            }
            
            .contentWrap{
                @include defaultFont;
                width: 20vw;
                text-align: center;
                .productLinkText {
                    color: $audiGreyScale_9;
                    text-decoration: none;
                    .similarProductName {
                        @include audiTransitionEffect;
                        font-size: calc(5px + 1vw);
                        font-weight: 900;
                        margin-bottom: 0;
                        
                    }
                    .similarProductPrice {
                        @include audiTransitionEffect;
                        font-size: calc(5px + 1vw);
                        font-weight: 900;
                    }
                    &:hover {
                        color: $audiBlack;
                    }
                }
        

                .CTABtn {
                    font-size: calc(5px + 0.5vw);
                }
                
            }
        }

        

    }
    .leftArrow,
    .rightArrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 70px;
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        .leftArrowIcon,
        .rightArrowIcon {
            @include audiTransitionEffect;
            // filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(0.4);
            width: 100%;
            height: 100%;
            display: block;

        }

        .leftArrowIcon {
            transform: rotate(-90deg);
        }

        .rightArrowIcon {
            transform: rotate(90deg);
        }



    }

    .leftArrow:hover .leftArrowIcon,
    .rightArrow:hover .rightArrowIcon {
        filter: none;
    }

}