@import '../../components/brand-colors.scss';

.loginCN{
  margin-top: 10%;
  padding-right: 50px;
  .spr{
    padding-right: 50px;
  }
  .spl{
    padding-left: 50px;
  }
  .line{
    width: 3px;
    background: $audiGreyScale_4;
  }
} 


