@import '../../brand-colors.scss';

.inbox {
  position: relative;
  .search{
    position: absolute;
    right:30px;
  }
  table {
    text-align: center;
    thead {
      background-color: $audiBlack;
      color: $audiWhite;
     
    }

    .del_btn {
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
    tbody{
      font-size: .8rem;
      font-weight: 400;
      .mail_detail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        
      }
      .read{       
        font-weight: lighter; 
        background-color: $audiGreyScale_3;
        &:hover{
          box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
      }
      .unread{
        font-weight: bold;
        background-color: $audiWhite;
        &:hover{
          box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
      }
    }
  }
}
