@import '../../brand-colors.scss';

.mail{
    
    padding:3%;
    .topic{
        color:$audiGreyScale_7;

    }
    .mail_detail{
        border:1px solid $audiGrey;
        padding:3%;
        .upload_img{
            max-height: 500px;
            max-width: 500px;
            object-fit:contain;
            } 
    }
   
}



