@import '../../../components/brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.forgotCN{
  margin-top: 10%;
  .forgotFont{
    text-align: center;
    font-weight: bold;
  }
  .forgotButton{
    // width: 100px;
    height: 50px;
    background: $audiBlack;
    color: $audiWhite;
  }
}
