@import '../../brand-colors.scss';

.profile{
  .my_profile{
    background-color: $audiBlack;
    height: 60px;
    line-height: 60px;
    color:$audiWhite;
    padding-left: 12px;
    .edit_btn{
      color: $audiWhite;
      padding: 5px;
      cursor: pointer;
    }
  }
  .alert_Hidden{
    display: none;
  }
  .alert_Show{
    display: block;
    color: red;
  }
  .show{
    display: block;
  }
  .hidden{
    display: none;
  }
}