.manageplatforms{
    font-weight: 400;
    letter-spacing: 3px;
    .nav{
        background-color: white;
        height:auto;
        margin-top: 30px;

        @media screen and (max-width:576px){
            height: auto; 
         }
        ul{
            list-style: none;
            padding-top:0;
            li{
                color: gray;
            }
            a{
                color: gray;
                transition: .5s;
                display: block;
                margin:20px 0px;
                &:hover{
                    color: black;
                    text-decoration: none;
                 }
                 &:active{
                    font-weight: 500;
                    color: black;
                 }
                 &:focus{
                     font-weight: 500;
                     color: black;
                 }
            }
        }
    }
    .content{
        padding-top: 30px;

    }
}