@mixin defaultFont {
    font-family: "Audi Type", "Noto Sans CJK TC" ;
}

$main-width:760px;
$main-height:424px;
$control-width:300px;
$control-height:424px;

.promotion_set_out{
    font-family: "Audi Type", "Noto Sans CJK TC" ;
    width: 100%;
    // height: 100vh;
    display:flex ;
    justify-content: space-around ;
    align-items: top ;
    position: relative;

    .promotion_set_Left {
        background: rgb(146, 146, 146) ;
        width: $main-width;
        height: $main-height;
        position: relative;
        z-index: 2 ;
        overflow: hidden;
        
    }
    .promotion_set_Right{
        background: #666666 ;
        width: $control-width;
        height: $control-height;

        .promotion_set_titleName{
            margin:0 0 0 40%;
            color:rgb(255, 255, 255) ;
            font-size:40px ;
        }
        .promotion_set_TitleBox{
            width: 180px;
            // height: 50px;
        }
        .promotion_set_LinkBox{
            width: 180px;
            // height: 50px;
        }
        .promotion_set_preview{
            color:rgb(255, 255, 255) ;
        }
    }
}
.promotion_set_down{
    font-family: "Audi Type", "Noto Sans CJK TC" ;
    width: 100%;
    height: 100vh;
    display:flex ;
    justify-content: space-around ;
    align-items: top ;
    position: relative;

    .promotion_set_dLeft{
        // background: rgb(146, 146, 146) ;
        width: $main-width;
        height: $main-height;
        position: relative;
        z-index: 2 ;
        overflow: hidden;
        .promotion_set_dTitle{
            padding: 20px 0 0 0 ;
        }
        .promotion_set_dSlogan{
            padding: 0 0 20px 0 ;
        }
        .promotion_set_detail{
            // background: rgb(146, 146, 146) ;
            width: 500px;
        }

    }
    .promotion_set_dRight{
        background: #666666 ;
        width: $control-width;
        height: $control-height;
    }
}
