@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

hr.divisionLinesMarginBottom {
    margin-bottom: 50px;
}

hr.divisionLinesMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.paymentInformation {
    h2 {
        @include defaultFont;
        font-size: calc(10px + 1vw);
        color: $audiBlack;
    }
}

.checkOutOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;

    p {
        @include defaultFont;
        font-size: calc(10px + 0.5vw);
        color: $audiGreyScale_8;
        margin-top: 10px;
    }

    a {
        @include defaultFont;
        text-decoration: none;
    }

    a.backToCartBtn {
        color: $audiBlack;
        &:hover {
            color: $audiGreyScale_9;
        }
    }
}

.basketTotal {
    margin-bottom: 60px;
}