@import '../../../components/brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.registeredCN{
  margin-top: 10%;
  .registeredFont{
    text-align: center;
    font-weight: bold;
  }
  .registeredBtn{
    background: $audiBlack;
    color: $audiWhite;
  }
  .alert_Hidden{
    display: none;
  }
  .alert_Show{
    display: block;
    color: red;
  }
  h6{
    color: $audiGreyScale_7;
  }
}
