@import '../../brand-colors.scss';

.order{
    
    table{
      text-align: center;
      thead{
        background-color: $audiBlack;
        color: $audiWhite;
      }
    }
    
    
}