@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.show {
    z-index: 999 !important;
}

.iconWrapper {
    cursor: pointer;
}

.popover {
    background: $audiGreyScale_9;
    min-width: 15vw;
    margin-top: 15px;
    // left: -50px !important;

    .arrow {
        margin-right: 29px;
        // margin-left: 43px;
    }

    //scrollbar settings
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        width: 3px;
        border-radius: 10%;
    }

    ::-webkit-scrollbar-track {
        background: $audiGreyScale_9;
    }

    ::-webkit-scrollbar-thumb {
        background: $audiWhite;
    }

    .arrow::after {
        border-bottom-color: $audiGreyScale_9;
    }

    .popoverHeader::before {
        border-bottom: 1px solid $audiGreyScale_9;
    }

    .popoverHeader {
        @include defaultFont;
        background: $audiGreyScale_9;
        color: $audiWhite;
        border-bottom: 1px solid $audiGreyScale_9;
    }

    .popoverBody {
        color: $audiWhite;
        max-height: 50vh;
        overflow-y: scroll;

        .shoppingList {
            @include defaultFont;

            .aui-nav__item {
                border-top: 1px solid rgba(255, 255, 255, 0.1);

            }

            a {
                color: $audiGreyScale_5;
                text-decoration: none;

                &:hover {
                    color: $audiWhite;
                }

                .productItemWrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;

                    .itemImage {
                        background-image: url('/img/products/accessories/test.jpg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: 50% 60%;
                        flex-wrap: nowrap;
                        height: 50px;
                        width: 50px;
                        margin-right: 20px;
                    }

                    .itemInfo {
                        flex-wrap: nowrap;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            @include defaultFont;
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .shoppingCartBtn {
            @include defaultFont;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0.2rem;

            &:hover {
                text-decoration-line: none; 
                background: rgba(0, 0, 0, 0.5);
            }

        }
    }
}