@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.aui-badge {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 10px !important;
    @media screen and (max-width: 500px) {
        width: 15px !important;
        height: 15px !important;
        line-height: 16px !important;
        font-size: 8px !important;

    }
}

.aui-badge--small-text {
    font-size: 8px !important;
}