@import '../brand-colors.scss';


.membercenter {
  @include defaultFont;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0;

  .member_nav {
    padding-top: 30px;
    background-color: $audiGreyScale_9;
    height: calc(100vh - 50px);
    position: fixed !important;
    width: 250px;
    @media screen and (max-width: 576px) {
      display: none;
    }

    ul {
      list-style: none;

      li {
        color: $audiGreyScale-4;

        .nav_icon {
          padding-right: 10%;
        }

        a {
          color: $audiGreyScale-4;
          transition: .5s;
          display: block;
          margin: 20px 0px;

          &:hover {
            color: $audiWhite;
            text-decoration: none;
          }

          &:active {
            font-weight: 500;
            color: $audiWhite;
          }

          &:focus {
            font-weight: 500;
            color: $audiWhite;
          }
        }


      }
    }
  }

  .member_contents {
    background-color: $audiWhite;
    padding-top: 30px;
  }

  .rwd_member_nav {
    padding: 0;
    margin-right: -15px;
    overflow: hidden;
    background-color: $audiGreyScale_9;
    transition: .5s;
    @media screen and (min-width: 576px) {
      display: none;
    }
    .username{
      padding: 10px 0 0 40px;
      cursor: pointer;
    }
    .nav_icon {
      padding-right: 10%;
    }


    ul {
      list-style: none;
      transition: .5s;
      li {
        color: $audiGreyScale-4;

        a {
          color: $audiGreyScale-4;
          transition: .5s;
          display: block;
          margin: 20px 0px;

          &:hover {
            color: $audiWhite;
            text-decoration: none;
          }

          &:active {
            font-weight: 500;
            color: $audiWhite;
          }

          &:focus {
            font-weight: 500;
            color: $audiWhite;
          }
        }
      }

    }

    .show {
      max-height: 300px;
      transition: .5s;
    }

    .hide {
      max-height: 0px;
      transition: .5s;
    }
  }

  .open_list {
    margin: 0;
  }
}