@import "../brand-colors.scss";



$font_size:16px;
$bar_height:30px;

* {
    box-sizing: border-box;
}

.chatroom_window {
    @include defaultFont;
    position: fixed;
    bottom: 0;
    right: 0;

    //scrollbar settings
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        width: 7px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: $audiWhite;
    }

    ::-webkit-scrollbar-thumb {
        background: $audiBlack;
    }

    .chatroom {
        position: relative;
        height: 375px;
        width: 375px;
        border: 1px $audiGrey solid;

        .chatroom_bar {
            height: $bar_height;
            background-color: $audiBlack;
            position: relative;

            .chatroom_minimize_area {
                height: $bar_height;
                width: 40px;
                position: absolute;
                right: 0;
                text-align: center;
                cursor: pointer;
            }

            .chatroom_close {
                color: $audiWhite;
                position: absolute;

            }

            .wait {
                color: $audiWhite;
                left: 0;
                top: 0;
            }
        }

        .messages {
            padding: 0px 5px;
            height: calc(100% - #{$bar_height} - #{$bar_height});
            width: 100%;
            overflow-y: auto;
            margin: 0px;
            background-color: $audiWhite;
            white-space: pre-line;
            word-break: break-all;
            .message_left {
                display: flex;
                p{
                background-color: $audiGreyScale_7;
                color: $audiWhite;
                border-radius: 10px;
                text-align: left; 
                padding: 5px 10px;
                }
                img{
                    height: 35px;
                }
            }
            .message_right{
                display: flex;
                justify-content: flex-end;
                p{
                background-color: $audiGreyScale_2;
                border-radius: 10px;
                padding: 5px 10px;
                }
                
            }
            .icon_hide{
                display: none;
            }
        }

        .message_bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: $bar_height;
            display: flex;

            .message_input {
                width: 80%;
            }

            .message_btn {
                width: 20%;
                font-size: $font_size;
                background-color: $audiBlack;
                color: $audiWhite;
                line-height: $bar_height;
                border: none;
            }
        }

    }
}

.show {
    max-height: 800px;
    z-index: 2;
}

.hide {
    height: 0;
}

.service_icon {
    z-index: 1;
    border-radius: 50%;
    border: 1px solid $audiGrey;
    width: 70px;
    height: 70px;
    background-color: $audiWhite;
    position: fixed;
    bottom: 35px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 70px;
}