@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.my-selector-c,
.my-selector-c2 {
    select {
        font-size: 15px;
        font-weight: 300;
        padding-right: 50px;
    }
}

.leftCol.billingAddress,
.rightCol.shippingAddress {
    h1 {
        font-size: calc(10px + 1vw);
        color: $audiBlack;
        margin-bottom: 20px;
    }

}

select.aui-select__input {
    border-bottom: 1px solid $audiBlack !important;
    color: #616161;

    &:focus {
        color: $audiBlack;
    }

    &:active {
        color: $audiBlack;
    }
}

.leftCol.billingAddress {
    margin-bottom: 20px;

    .memberInfo {
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

}

.rightCol.shippingAddress {

    select.aui-select__input {
        width: 95%;
        padding-right: 0;
        border-bottom: 1.5px solid $audiBlack !important;
    }

    #county.aui-select--floating-label::after {
        right: 15px;
    }

    select.aui-select__input.district2 {
        margin-left: 6%;
    }

    .pure-material-checkbox {
        z-index: 0;
        position: relative;
        display: inline-block;
        color: $audiBlack;
        font-size: 16px;
        line-height: 1.5;
    }

    /* Input */
    .pure-material-checkbox>input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: -1;
        position: absolute;
        left: -10px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: $audiBlack;
        box-shadow: none;
        outline: none;
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s, transform 0.2s;
    }

    /* Span */
    .pure-material-checkbox>span {
        display: inline-block;
        width: 100%;
        cursor: pointer;
    }

    /* Box */
    .pure-material-checkbox>span::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        margin: 3px 11px 3px 1px;
        border: solid 2px;
        /* Safari */
        border-color: $audiBlack;
        border-radius: 2px;
        width: 18px;
        height: 18px;
        vertical-align: top;
        transition: border-color 0.2s, background-color 0.2s;
    }

    /* Checkmark */
    .pure-material-checkbox>span::after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 1px;
        width: 10px;
        height: 5px;
        border: solid 2px transparent;
        border-right: none;
        border-top: none;
        transform: translate(3px, 4px) rotate(-45deg);
    }

    /* Checked, Indeterminate */
    .pure-material-checkbox>input:checked,
    .pure-material-checkbox>input:indeterminate {
        background-color: $audiBlack;
    }

    .pure-material-checkbox>input:checked+span::before,
    .pure-material-checkbox>input:indeterminate+span::before {
        border-color: $audiBlack;
        background-color: $audiBlack;
    }

    .pure-material-checkbox>input:checked+span::after,
    .pure-material-checkbox>input:indeterminate+span::after {
        border-color: $audiWhite;
    }

    .pure-material-checkbox>input:indeterminate+span::after {
        border-left: none;
        transform: translate(4px, 3px);
    }

}