@import "../brand-colors.scss";
@import '../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.footerPositionRelativeLayer {
    position: relative;
    height: 500px;

    .footer {
        padding-top: 20px;
        background: rgba(182, 177, 169, 0.3);
        position: absolute;
        width: 100vw;
        height: calc(100% + 80px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .accessories, 
        .collections,
        .membercenter {
            display: flex;
            flex-direction: column;
            a {
                color: $audiBlack;
                font-stretch: extra-expanded;
                font-size: 14px;
                padding-top: 3px;
                padding-bottom: 3px;
                font-weight: normal;
                text-decoration-line: none;
                
            }
            .title {
                font-weight: bold;
                font-size: 20px;
            }
            .title.pb {
                padding-bottom: 30px;
            }
            
        }
        .contactus {
            .title {
                font-weight: bold;
                font-size: 20px;
            }
            a {
                color: $audiBlack;
                font-stretch: extra-expanded;
                font-size: 14px;
                padding-top: 3px;
                padding-bottom: 3px;
            }
            p {
                color: $audiBlack;
                font-stretch: extra-expanded;
                font-size: 14px;
                padding-top: 3px;
                padding-bottom: 3px;
            }
            .operation {
                display: flex;
                .phoneIcon {
                    width: 44px;
                    height: 44px;
                    margin-right: 19px;
                }
                .text {
                    p {
                        margin-bottom: 0;
                        font-weight: normal;
                    }
                }
                
            }
            .email {
                display: flex;
                align-items: center;
                .mailIcon {
                    width: 44px;
                    height: 44px;
                    margin-right: 19px;
                }
            }
        }
        .hrLine {
            hr {
                height: 2px;
                margin-right: 50px;
            }
        }
        .copyright {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            .left {
                color: $audiBlack;
            }
            .right {
                margin-right: 50px;
                a {
                    color: $audiBlack;
                    &:hover {
                        color: $audiBlack;
                        text-decoration-line: none;
                    }
                }
            }
            
        }
    }
}