@import "../brand-colors.scss";

.Navbar {
    .horizontalNavbar {
        position: fixed; // to compensate for this, 100px margin-top has been given to the .container class in App.scss.
        width: 100vw;
        height: 50px;
        background-color: $audiWhite;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 998;

        // @media screen and (min-width: 1920px) {
        //     height: 100px;
        // }

        .left {
            width: 33%;
            display: flex;
            justify-content: flex-start;
        }

        .center {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;

            // @media screen and (min-width: 1920px) {
            //     padding: 30px 0;
            // }

            #logo {
                width: 112px;
                height: 38.5px;

                // @media screen and (min-width: 1920px) {
                //     width: 160px;
                //     height: 55px;
                // }
            }
        }

        .right {
            width: 33%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 0;

            // @media screen and (min-width: 1920px) {
            //     padding: 30px 0;
            // }

            .iconWrapper {
                position: relative;
                @media screen and (max-width: 500px) {
                    padding-right: 10px;
                }
                .navIcons {
                    height: 28px;
                    padding-right: 30px;
                    display: block;

                    @media screen and (max-width: 500px) {
                        height: 20px;
                        padding-right: 5px;
                    }
                }

                .notificationBadge {
                    position: absolute;
                    top: -10px;
                    right: 15px;
                    @media screen and (max-width: 500px) {
                        top: -12px;
                        right: 5px;
                    }
                }
            }

        }

    }

    .verticalNavbar {
        position: fixed;
        z-index: 999;
        height: 100vh;
        width: 50px;
        background-color: $audiWhite;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // transition: 1s;

        // @media screen and (min-width: 1920px) {
        //     width: 100px;
        // }

        .top {
            height: 33%;
            display: flex;
            justify-content: flex-start;


            #nav-icon {
                position: relative;
                width: 30px;
                height: 15px;
                margin: 5px 10px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;

                // @media screen and (min-width: 1920px) {
                //     width: 60px;
                //     height: 25px;
                //     margin: 30px;
                // }
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $audiBlack;
                border-radius: 0;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }

            #nav-icon span:nth-child(1) {
                top: 10px; //default 0

                // @media screen and (min-width: 1920px) {
                //     top: 7px;
                // }
            }

            #nav-icon span:nth-child(2),
            #nav-icon span:nth-child(3) {
                top: 18px;
            }

            #nav-icon span:nth-child(4) {
                top: 26px; //default 36

                // @media screen and (min-width: 1920px) {
                //     top: 29px;
                // }
            }

            #nav-icon.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            #nav-icon.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            #nav-icon.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            #nav-icon.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }

        .top.open {
            height: 10%;
            justify-content: flex-end;
        }

        .center {
            height: 33%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 30px 0;

            a.open {
                display: none;
            }
            
            div.open {
                display: none;
            }

            #arrowIcon {
                width: 55px;
                height: 55px;
                cursor: pointer;

                // @media screen and (min-width: 1920px) {
                //     width: 96px;
                //     height: 96px;
                // }
            }

            #expandedLinks {
                display: block;

                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 1s linear;

                a {
                    color: $audiGreyScale_7;
                    font-size: 30px;
                    font-weight: 900;
                    &:hover {
                        color: $audiBlack;
                        // text-decoration-line: underline;
                    }

                    li {
                        display: block;
                        padding: 0;
                        list-style-type: none;
                        padding-bottom: 35px;
                        line-height: 1.1;
                        font-family: "Audi Type", "Noto Sans CJK TC";
                    }
                }
            }

            #expandedLinks.open {
                visibility: visible;
                opacity: 1;
            }
        }

        .center.open {
            height: 56%;
            align-items: flex-start;
        }

        .bottom {
            height: 33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            .socialMediaIcon {
                padding: 0 30px 8px 8px;
                width: 73px;

                // @media screen and (min-width: 1920px) {
                //     width: 105px;
                // }

            }

            #facebookIcon {
                padding-bottom: 20px;

                // @media screen and (min-width: 1920px) {
                //     padding-bottom: 60px;
                // }
            }
        }
    }

    .verticalNavbar.open {
        width: 400px;
    }
}