@import '../../components/brand-colors.scss';
@import '../../../node_modules/@audi/audi-ui/src/index';

$h3-size:35px;
$h4-size:20px;


.promotion_outout {
    font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    .promotion_out {
        width: 100%;
        height: 320vh;

        .promotion_yohue {
            margin: 30px 0 0 43%;
        }

        .promotion_part01 {
            display: flex;

            .promotion_LF1 {
                margin: 30px 0 0 80px;
                background: $audiWhite;
                width: 712.5px;
                height: 397.125px;
                overflow: hidden;

                .promo01 {
                    margin: 0 0 0 -100px;
                }

                .promo03 {
                    margin: -150px 0 0 -100px;
                }

                .promo05 {
                    margin: 0 0 0 -200px;
                }
            }

            .promotion_titleName01 {
                margin: 100px 0 0 210px;
                font-size: $h3-size;
            }

            .promotion_slogan0101 {
                margin: 40px 0 0 200px;
                font-size: $h4-size;
            }

            .promotion_button01 {
                margin: 8% 0 0 45%;
            }

        }

        .promotion_part02 {
            display: flex;

            .promotion_titleName02 {
                margin: 20px 0 0 150px;
                font-size: $h3-size;
            }

            .promotion_slogan0201 {
                margin: 40px 0 0 180px;
                font-size: $h4-size;
            }

            .promotion_button02 {
                margin: 8% 0 0 43%;
            }

            .promotion_RG1 {
                margin: -100px 0 0 120px;
                background: $audiWhite;
                width: 712.5px;
                height: 397.125px;
                overflow: hidden;

                .promo02 {
                    margin: -150px 0 0 -150px;
                }

                .promo04 {
                    margin: 0 0 0 -600px;
                }
            }
        }
    }
}