@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.filterNav {
    background: white;
    height: 160vh;
    width: 100%;
    position: absolute;
}

.container-fluid {
    .row {
        position: relative;
        .col.headlineWrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-right: 35px;

            h1 {
                @include defaultFont;
                font-size: calc(15px + 2vw);
                color: $audiBlack;
            }
        }
    }
}

.filterNav {
    h1 {
        @include defaultFont;
        font-size: calc(15px + 1vw);
        color: $audiBlack;
        padding-top: 5vw;
    }
    .aui-nav__item {
        @include defaultFont;
    }

    &:hover {
        a {
            text-decoration-line: none !important;
        }
    }
}

.productOutput {
    margin-top: 5vw;
}

.subCategoryNav {
    padding-left: 10px;
    display: none;
}

.subCatDisplay~ul {
    display: block;
}