

.mail{
    
    padding:3%;
    .topic{
        color:gray;
    }

    .mail_detail{
        border:1px solid Grey;
        padding:3%;
        word-break: break-all;
        .upload_img{
            max-height: 500px;
            max-width: 500px;
            object-fit:contain;
            } 
    }
}

.show{
    display: block;
}
.hide{
    display: none;
}

