@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.promoKV {
    .promoKV1 {
        padding: 0 !important;

        img {
            width: 100%;
        }
    }
}

.promoContent {
    color: $audiBlack;
    padding-right: 50px;
    padding-top: 20px;
    margin-bottom: 100px;

    .promoHeadlines {

        h2.promoText,
        h3.promoText {
            text-align: center;
        }

        .promoText {
            font-weight: bold;
            font-stretch: extra-expanded;
        }

        p.promoText:first-of-type {
            margin-bottom: 0;
        }
    }

    .promoContent {
        .promoContentHeading {
            font-weight: bold;
            font-stretch: extra-expanded;
        }
        .promoItems {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            img {
                width: 300px;
                height: 300px;
            }
            .textBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p {
                    margin-bottom: 0;
                }
                p:last-of-type {
                    padding-bottom: 10px;
                }
                .promoTextM {
                    font-weight: bold;
                    font-stretch: extra-expanded;
                    padding-bottom: 10px;
                }
            }
            .promoItem {
                margin-bottom: 50px;
            }
        }
    }
}