@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.promoHeader{
    font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    .promoPhoto{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .promoText{
        width: 100%;
        height: 100vh;
        margin: 5% 0 0 10%;
        
        .promoTextT{
            font-size : 50px ;
            font-weight:bold;
        }
        .promoTextM{
            font-size : 28px ;
            font-weight:bold;
        }
        .promoTextS{
            font-size : 20px ;
        }
    }
    .promoTextOther{
        margin: 0% 0 0 10%;
        .promoItem01{
            display:flex ;
            width: 100%;
            .promoItem01L{
                margin: -30% 0 0 0;
                width: 45%;
                .item01{
                    width: 100%;
                }
            }
            .promoItem01R{
                margin: -30% 0 0 0;
                width: 55%;
                .jacktext01{
                    font-weight:bold;
                    font-size:28px ;
                }
                .jacktext02{
                    font-weight:bold;
                    font-size:19px ;
                }
            }
        }
        .promoItem02{
            display:flex ;
            width: 100%;
            .promoItem02L{
                width: 45%;
                .item02{
                    width: 40%;
                    margin: 0 0 0 27%;
                }
            }
            .promoItem02R{
                width: 55%;
                .jack02text01{
                    font-weight:bold;
                    font-size:28px ;
                }
                .jack02text02{
                    font-weight:bold;
                    font-size:19px ;
                }
            }
        }
        .promoItem03{
            display:flex ;
            width: 100%;
            .promoItem03L{
                width: 45%;
                .item03{
                    width: 40%;
                    margin: 0 0 0 27%;
                }
            }
            .promoItem03R{
                width: 55%;
                .jack03text01{
                    font-weight:bold;
                    font-size:28px ;
                }
                .jack03text02{
                    font-weight:bold;
                    font-size:19px ;
                }
            }
        }
        .promoItem04{
            width: 100%;
            height: 20vh;
            .promo_btn{
                width: 20%;
                height: 40%;
                border: 2px solid black;
                margin: 0 0 0 0 ;
                .promo_back{
                    color:black ;
                    font-size: 28px ;
                    font-weight:bold;
                    margin: 2% 0 0 36%;
                }
            }
        }
    }
    
}