@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.promoHeader01{
    font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    .promoPhoto01{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .promoText01{
        width: 100%;
        height: 100vh;
        margin: 0 0 0 10%;
        .promoTextL{
            font-size : 36px ;
            font-weight:bold;
        }
        .promoTextT{
            font-size : 50px ;
            font-weight:bold;
        }
        .promoTextM{
            font-size : 28px ;
            font-weight:bold;
        }
        .promoTextS{
            font-size : 20px ;
        }
    }
    .promoTextOther01{
        margin: 0% 0 0 5%;
        .promoItem01{
            display:flex ;
            width: 100%;
            justify-content:space-around ;
            .promoItem01L{
                width: 33%;
                overflow: hidden;
                .item01{
                    width: 100%;
                }
            }
            .promoItem01M{
                width: 33%;
                overflow: hidden;
            }
            .promoItem01R{
                width: 33%;
                overflow: hidden;
                .jacktext01{
                    font-weight:bold;
                    font-size:28px ;
                }
                .jacktext02{
                    font-weight:bold;
                    font-size:19px ;
                }
            }
            .promoTextM{
                font-size : 28px ;
                font-weight:bold;
            }
            .promoTextS{
                font-size : 20px ;
            }
        }
        .promoItem04{
            width: 100%;
            height: 20vh;
            .promo_btn{
                width: 20%;
                height: 40%;
                border: 2px solid black;
                margin: 0 0 0 0 ;
                .promo_back{
                    color:black ;
                    font-size: 28px ;
                    font-weight:bold;
                    margin: 2% 0 0 36%;
                }
            }
        }
    }
    
}