@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.promoHeader04{
    font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    .promoPhoto04{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .promoText04{
        width: 100%;
        height: 100vh;
        margin: 0 0 0 10%;
        .promoTextL{
            font-size : 36px ;
            font-weight:bold;
        }
        .promoTextT{
            font-size : 50px ;
            font-weight:bold;
        }
        .promoTextM{
            font-size : 28px ;
            font-weight:bold;
        }
        .promoTextS{
            font-size : 20px ;
        }
    }
    .promoTextOther04{
        margin: -30% 0 0 5%;
        .promoItem04{
            display:flex ;
            width: 100%;
            justify-content:space-around ;
            .promoItem04L{
                width: 50%;
                overflow: hidden;
                .item04{
                    width: 80%;
                }
            }
            .promoItem04R{
                margin: 20% 0 0 0;
                width: 50%;
                overflow: hidden;
                .toyText01{
                    font-size : 28px ;
                    font-weight:bold;
                }
                .toyText02{
                    font-weight:bold;
                    font-size:19px ;
                }
            }
        }
            .promoTextS{
                font-size : 20px ;
            }
        }
        .promoItem07{
            width: 100%;
            height: 20vh;
            .promo_btn{
                width: 20%;
                height: 40%;
                border: 2px solid black;
                margin: 0 0 0 0 ;
                .promo_back{
                    color:black ;
                    font-size: 28px ;
                    font-weight:bold;
                    margin: 2% 0 0 36%;
                }
            }
        }
        
    }
