@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.carouselLeftCol {
    background: $audiGreyScale_7;

    .promoInfo {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .promoType {
            color: $audiBlack;
            @include defaultFont;
            font-weight: bold;
            font-stretch: extra-expanded;
            font-size: calc(10px + 2.5vw);
            // position: absolute;
            // top: 40px;
            display: inline-flex;
            justify-content: flex-start;
            margin-top: auto;
            white-space: nowrap;
            z-index: 1;

        }

        .promoName {
            // position: absolute;
            // top: 100px;
            display: inline-flex;
            justify-content: flex-start;
            margin-top: 5%;
            @include defaultFont;
            font-weight: bold;
            font-stretch: extra-expanded;
            font-size: calc(10px + 2vw);
            text-align: left;
            color: $audiBlack;
            // white-space: nowrap;
            // z-index: 1;
        }

        .promoDescription {
            // position: absolute;
            // top: 50%;
            display: inline-flex;
            justify-content: flex-start;
            margin-top: auto;
            @include defaultFont;
            font-weight: 100;
            font-size: calc(10px + 0.5vw);
            text-align: left;
            white-space: wrap;
            color: $audiBlack;
        }

        a {
            text-decoration-line: none;
            display: inline-flex;
            justify-content: center;
            margin-top: auto;
            margin-bottom: 5%;
            .aui-button {
                font-size: calc(10px + 0.5vw);
            }
        }

    }
}

.carouselRightCol {
    padding: 0;

    .carouselComponentWrapper {
        position: relative;
        height: 100%;

        .carousel {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 27vw;
            margin: 0 auto;
            overflow: hidden;
            white-space: nowrap;

            .carousel-wrapper {
                position: relative;
                height: 100%;
                width: 100%;

                .carousel-slide {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .arrows {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;

            .leftArrow {
                position: relative;
                width: 7vw;
                height: 5vw;
                // width: 110px;
                // height: 70px;
                background: $audiGreyScale_3;
                cursor: pointer;
                @include audiTransitionEffect;

                &:hover {
                    background: $audiBlack;

                    .leftArrowIcon {
                        filter: invert(100%);
                    }
                }

                .leftArrowIcon {
                    width: 5vw;
                    height: 5vw;
                    // width: 90px;
                    // height: 90px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    transform: rotate(-90deg);
                }
            }

            .rightArrow {
                position: relative;
                width: 7vw;
                height: 5vw;
                // width: 110px;
                // height: 70px;
                background: $audiGrey;
                cursor: pointer;
                @include audiTransitionEffect;

                &:hover {
                    background: $audiBlack;

                    .rightArrowIcon {
                        filter: invert(100%);
                    }
                }

                .rightArrowIcon {
                    width: 5vw;
                    height: 5vw;
                    // width: 90px;
                    // height: 90px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    transform: rotate(90deg);

                }
            }
        }
    }
}

.carouselPagination {
    padding: 0;

    .slidePosition {

        // @include defaultFont;
        // font-weight: 900;
        // font-stretch: extra-expanded;
        // font-size: calc(5px + 2vw);
        // color: $audiBlack;
        // display: flex;
        // justify-content: center;
        ul {
            list-style-type: none;
            margin: 0;
            margin-top: 40px;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .paginationBlock {
                cursor: pointer;
                width: 50px;
                height: 5px;
                margin: 0 5px;
                background: $audiGreyScale_4;
            }

            .paginationBlock.active {
                background: $audiBlack;
            }
        }

    }
}