@mixin defaultFont {
    font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

@mixin audiTransitionEffect {
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.75, 0.02, 0.5, 1);   
}

$audiBlack: #000000;
$audiWhite: #FFFFFF;
$audiGrey: #B6B1A9;
$audiLightGrey: #B3B3B3;
$audiRed: #BB0A30;
$audiGreyScale_1: #F2F2F2;
$audiGreyScale_2: #D9D9D9;
$audiGreyScale_3: #E5E5E5;
$audiGreyScale_4: #CCCCCC;
$audiGreyScale_5: #999999;
$audiGreyScale_6: #808080;
$audiGreyScale_7: #666666;
$audiGreyScale_8: #4C4C4C;
$audiGreyScale_9: #333333;
$audiGreyScale_10: #1A1A1A;