@import './components/brand-colors.scss';
@import '.././node_modules/@audi/audi-ui/src/index'; //audi ui

* {
    @include defaultFont;
}

//scrollbar css settings
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    width: 0px;
    // border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: $audiWhite;
}
::-webkit-scrollbar-thumb {
    background: $audiWhite;
}

body {
    // background: $audiGreyScale_5; //版面切好後再改回白色，不然很難抓版面。
    background: $audiWhite; //版面切好後再改回白色，不然很難抓版面。

    .paddingAgainstFixedMenuBar {
        padding-top: 50px; // offset horizontal fixed navbar height
        padding-left: 50px;
        // padding-right: 50px;
    }

    .container {
        // margin-left: 100px; // offset vertical fixed navbar height
    }
}

button:focus {
    //overrides the weird blue aura of the btn, probably from bootstrap?
    outline-color: $audiBlack;
}

a {
    color: $audiGreyScale_5;
    &:hover {
        color: $audiBlack;
        text-decoration-line: none;
    }
}