@font-face {
    font-family: "Audi Type";
    src: url("fonts/audi-type-en/AudiTypeScreen-Normal.ttf");
}

@font-face {
    font-family: "Audi Type";
    src: url("fonts/audi-type-en/AudiTypeScreen-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Audi Type";
    src: url("fonts/audi-type-en/AudiTypeScreen-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Audi Type";
    src: url("fonts/audi-type-en/AudiType-ExtendedNormal.ttf");
    font-stretch: extra-expanded;
}
@font-face {
    font-family: "Audi Type";
    src: url("fonts/audi-type-en/AudiType-ExtendedBold.ttf");
    font-weight: bold;
    font-stretch: extra-expanded;
}

/* Noto Sans Chinese Font */

@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Regular.otf");
    /* normal = 400 */
    font-weight: normal;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Light.otf");
    font-weight: 100;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-DemiLight.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Thin.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Noto Sans CJK TC";
    src: url("fonts/noto-sans-zh/NotoSansCJKtc-Black.otf");
    font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Audi Type", "Noto Sans CJK TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
