@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index';

.leftCol.locations {
    @include defaultFont;

    h2 {
        font-size: calc(10px + 1vw);
        color: $audiBlack;
    }

    label {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 12px;
    }

    p {
        margin-bottom: 0;
        font-weight: 300;
    }

    #locationSelect {
        width: 50%;
        padding-top: 0;
    }

    .aui-select.aui-select--floating-label::after {
        top: 1.3rem;
    }

}

.rightCol {
    @include defaultFont;
    h2 {
        font-size: calc(10px + 1vw);
        color: $audiBlack;
    }
}