@import '../../../brand-colors.scss';
@import '../../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

.containerModifier {
    margin-top: 30px;
    padding-right: 50px;
    .productName {
        @include defaultFont;
        font-size: calc(10px + 2vw);
        color: $audiBlack;
        text-align: center;
        margin-bottom: 30px;
    }
    .leftPanel {
        text-align: center;
        
    }
    .rightPanel {
        @include defaultFont;
        .price {
            text-align: center;
            .discountedVersion {
                p {
                    margin-bottom: 0;
                    font-size: calc(8px + 1vw);
                    line-height: 1.2;
                }
                p.discountedPrice {
                    font-weight: bold;
                    color: $audiRed;
                }
                p.originalPrice {
                    font-weight: 300;
                    color: $audiGrey;
                    text-decoration: line-through;
                }
            }
            .originalVersion {
                p {
                    margin-bottom: 0;
                    font-size: calc(8px + 1vw);
                    line-height: 1.2;
                }
                p.originalPrice {
                    font-weight: bold;
                    color: $audiRed;
                }
            }
        }
        .productDescription {
            padding: 10px 0;
            white-space: pre-line;
            word-wrap    : break-word;
            overflow-wrap: break-word;
            color: $audiBlack;
            font-size: calc(10px + 0.5vw);
            p {
                margin: 0;
            }
        }
        .dropDownInputs {
            padding-bottom: 5px;
        }
        .quantity {
            padding-bottom: 20px;
            input {
                text-align: center;
            }
            label {
                text-align: center;
            }
            
        }
        .secondaryBtns {
            padding: 5px 0;
            .aui-button {
                width: 100%;
            }
            .favoriteIcon{
                display: inline;
            }
            .favoriteIcon.favorited{
              display: none;
            }
        }
        
        .primaryBtn {
            padding: 5px 0;
        }

    }

}

.productQueryTest {
    text-align: center;
}
