@import '../../../brand-colors.scss';
@import '../../../../../node_modules/@audi/audi-ui/src/index';

.sliderComponentWrapper {
    .slider {
        position: relative;
        width: 27vw;
        height: 27vw;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;

        .slider-wrapper {
            position: relative;
            height: 100%;
            width: 100%;

            .slide {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }
    }

    .arrows {
        display: flex;
        justify-content: center;

        .leftArrow {
            position: relative;
            width: 110px;
            height: 70px;
            background: $audiGreyScale_3;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: $audiBlack;

                .leftArrowIcon {
                    filter: invert(100%);
                }
            }

            .leftArrowIcon {
                width: 90px;
                height: 90px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                transform: rotate(-90deg);
            }
        }

        .rightArrow {
            position: relative;
            width: 110px;
            height: 70px;
            background: $audiGrey;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: $audiBlack;

                .rightArrowIcon {
                    filter: invert(100%);
                }
            }

            .rightArrowIcon {
                width: 90px;
                height: 90px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                transform: rotate(90deg);

            }
        }

        @media screen and (max-width: 500px) {
            .leftArrow {
                width: 70px;
                height: 50px;

                .leftArrowIcon {
                    width: 45px;
                    height: 45px;
                }
            }

            .rightArrow {
                width: 70px;
                height: 50px;

                .rightArrowIcon {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    .slidePosition {
        @include defaultFont;
        font-weight: 900;
        font-stretch: extra-expanded;
        font-size: calc(5px + 2vw);
        color: $audiBlack;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 500px) {
            margin-bottom: 25px;
        }
    }
}