/**
 * audi-icon - Audi Icons as SVG, PNG, Icon Font and EPS.
 * @version v1.0.0-alpha.1
 * @copyright 2016 Audi
 * @link https://github.com/audi/audi-icon
 */
.audiicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: inherit;
  stroke-width: 1.1px; }
  .audiicon--small, .audiicon-small {
    width: 24px;
    height: 24px; }
  .audiicon--large, .audiicon-large {
    width: 48px;
    height: 48px; }
  .audiicon--large .audiicon-small, .audiicon-large {
    visibility: hidden; }
  .audiicon--large .audiicon-large {
    visibility: visible; }
  .audiicon-property-fill {
    fill: currentColor;
    stroke: none; }
  .audiicon-property-stroke {
    fill: none;
    stroke: currentColor; }
  .audiicon-sprite {
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden; }