@font-face {
  font-family: "audi-iconfont";
  src: url('../fonts/audi-iconfont.eot');
  src: url('../fonts/audi-iconfont.eot?#iefix') format('eot'),
    url('../fonts/audi-iconfont.woff2') format('woff2'),
    url('../fonts/audi-iconfont.woff') format('woff'),
    url('../fonts/audi-iconfont.ttf') format('truetype'),
    url('../fonts/audi-iconfont.svg#audi-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aui-icon-adblue-alert-large:before,
.aui-icon-adblue-alert-small:before,
.aui-icon-adblue-large:before,
.aui-icon-adblue-small:before,
.aui-icon-address-book-large:before,
.aui-icon-address-book-small:before,
.aui-icon-administrator-large:before,
.aui-icon-administrator-small:before,
.aui-icon-announcements-large:before,
.aui-icon-announcements-small:before,
.aui-icon-anti-theft-alarm-system-alert-large:before,
.aui-icon-anti-theft-alarm-system-alert-small:before,
.aui-icon-anti-theft-alarm-system-large:before,
.aui-icon-anti-theft-alarm-system-small:before,
.aui-icon-apps-large:before,
.aui-icon-apps-small:before,
.aui-icon-arrow-down-large:before,
.aui-icon-arrow-down-small:before,
.aui-icon-arrow-left-light-large:before,
.aui-icon-arrow-left-light-small:before,
.aui-icon-arrow-left-normal-large:before,
.aui-icon-arrow-left-normal-small:before,
.aui-icon-arrow-left-sharp-large:before,
.aui-icon-arrow-left-sharp-small:before,
.aui-icon-arrow-left-u-turn-large:before,
.aui-icon-arrow-left-u-turn-small:before,
.aui-icon-arrow-narrow-down-large:before,
.aui-icon-arrow-narrow-down-small:before,
.aui-icon-arrow-narrow-up-large:before,
.aui-icon-arrow-narrow-up-small:before,
.aui-icon-arrow-right-light-large:before,
.aui-icon-arrow-right-light-small:before,
.aui-icon-arrow-right-normal-large:before,
.aui-icon-arrow-right-normal-small:before,
.aui-icon-arrow-right-sharp-large:before,
.aui-icon-arrow-right-sharp-small:before,
.aui-icon-arrow-right-u-turn-large:before,
.aui-icon-arrow-right-u-turn-small:before,
.aui-icon-arrow-straight-down-large:before,
.aui-icon-arrow-straight-down-small:before,
.aui-icon-arrow-straight-up-large:before,
.aui-icon-arrow-straight-up-small:before,
.aui-icon-arrow-up-large:before,
.aui-icon-arrow-up-small:before,
.aui-icon-audio-volume-large:before,
.aui-icon-audio-volume-small:before,
.aui-icon-aupeo-large:before,
.aui-icon-aupeo-small:before,
.aui-icon-back-large:before,
.aui-icon-back-small:before,
.aui-icon-blog-post-large:before,
.aui-icon-blog-post-small:before,
.aui-icon-bookmark-large:before,
.aui-icon-bookmark-small:before,
.aui-icon-brake-pad-alert-large:before,
.aui-icon-brake-pad-alert-small:before,
.aui-icon-brake-pad-large:before,
.aui-icon-brake-pad-small:before,
.aui-icon-break-large:before,
.aui-icon-break-small:before,
.aui-icon-business-address-large:before,
.aui-icon-business-address-small:before,
.aui-icon-calculator-large:before,
.aui-icon-calculator-small:before,
.aui-icon-calendar-events-large:before,
.aui-icon-calendar-events-small:before,
.aui-icon-camera-large:before,
.aui-icon-camera-small:before,
.aui-icon-cancel-large:before,
.aui-icon-cancel-small:before,
.aui-icon-car-handover-large:before,
.aui-icon-car-handover-small:before,
.aui-icon-car-large:before,
.aui-icon-car-search-large:before,
.aui-icon-car-search-small:before,
.aui-icon-car-small:before,
.aui-icon-catalogue-large:before,
.aui-icon-catalogue-small:before,
.aui-icon-caution-large:before,
.aui-icon-caution-small:before,
.aui-icon-charge-level-large:before,
.aui-icon-charge-level-small:before,
.aui-icon-charging-large:before,
.aui-icon-charging-small:before,
.aui-icon-charging-station-large:before,
.aui-icon-charging-station-small:before,
.aui-icon-climate-auto-large:before,
.aui-icon-climate-auto-small:before,
.aui-icon-climate-electric-large:before,
.aui-icon-climate-electric-small:before,
.aui-icon-climate-large:before,
.aui-icon-climate-small:before,
.aui-icon-co2-emission-large:before,
.aui-icon-co2-emission-small:before,
.aui-icon-code-large:before,
.aui-icon-code-small:before,
.aui-icon-connect-key-large:before,
.aui-icon-connect-key-small:before,
.aui-icon-consumption-large:before,
.aui-icon-consumption-small:before,
.aui-icon-content-activities-large:before,
.aui-icon-content-activities-small:before,
.aui-icon-cubic-capacity-large:before,
.aui-icon-cubic-capacity-small:before,
.aui-icon-dashboard-large:before,
.aui-icon-dashboard-small:before,
.aui-icon-dealer-request-large:before,
.aui-icon-dealer-request-small:before,
.aui-icon-dealer-search-large:before,
.aui-icon-dealer-search-small:before,
.aui-icon-direct-mail-large:before,
.aui-icon-direct-mail-small:before,
.aui-icon-discussion-large:before,
.aui-icon-discussion-small:before,
.aui-icon-distance-large:before,
.aui-icon-distance-small:before,
.aui-icon-document-pdf-large:before,
.aui-icon-document-pdf-small:before,
.aui-icon-document-pricelist-dollar-large:before,
.aui-icon-document-pricelist-dollar-small:before,
.aui-icon-document-pricelist-euro-large:before,
.aui-icon-document-pricelist-euro-small:before,
.aui-icon-document-taxation-large:before,
.aui-icon-document-taxation-small:before,
.aui-icon-documents-large:before,
.aui-icon-documents-small:before,
.aui-icon-download-large:before,
.aui-icon-download-small:before,
.aui-icon-edit-large:before,
.aui-icon-edit-small:before,
.aui-icon-editorial-large:before,
.aui-icon-editorial-small:before,
.aui-icon-electric-range-large:before,
.aui-icon-electric-range-small:before,
.aui-icon-engine-large:before,
.aui-icon-engine-small:before,
.aui-icon-erase-large:before,
.aui-icon-erase-small:before,
.aui-icon-facebook-large:before,
.aui-icon-facebook-small:before,
.aui-icon-favorite-large:before,
.aui-icon-favorite-small:before,
.aui-icon-feature-on-demand-large:before,
.aui-icon-feature-on-demand-small:before,
.aui-icon-feed-large:before,
.aui-icon-feed-small:before,
.aui-icon-filter-large:before,
.aui-icon-filter-small:before,
.aui-icon-forward-large:before,
.aui-icon-forward-small:before,
.aui-icon-fuel-range-large:before,
.aui-icon-fuel-range-small:before,
.aui-icon-fuel-station-large:before,
.aui-icon-fuel-station-small:before,
.aui-icon-gas-station-large:before,
.aui-icon-gas-station-small:before,
.aui-icon-geofence-alert-large:before,
.aui-icon-geofence-alert-small:before,
.aui-icon-geofence-large:before,
.aui-icon-geofence-small:before,
.aui-icon-google-plus-large:before,
.aui-icon-google-plus-small:before,
.aui-icon-gps-large:before,
.aui-icon-gps-small:before,
.aui-icon-grab-large:before,
.aui-icon-grab-small:before,
.aui-icon-group-discussion-large:before,
.aui-icon-group-discussion-small:before,
.aui-icon-groups-large:before,
.aui-icon-groups-small:before,
.aui-icon-home-large:before,
.aui-icon-home-small:before,
.aui-icon-honk-and-flash-large:before,
.aui-icon-honk-and-flash-small:before,
.aui-icon-honk-large:before,
.aui-icon-honk-small:before,
.aui-icon-hotline-large:before,
.aui-icon-hotline-small:before,
.aui-icon-idea-large:before,
.aui-icon-idea-small:before,
.aui-icon-indicators-large:before,
.aui-icon-indicators-small:before,
.aui-icon-inspection-large:before,
.aui-icon-inspection-small:before,
.aui-icon-instagram-large:before,
.aui-icon-instagram-small:before,
.aui-icon-interior-configuration-large:before,
.aui-icon-interior-configuration-small:before,
.aui-icon-languages-large:before,
.aui-icon-languages-small:before,
.aui-icon-lights-day-large:before,
.aui-icon-lights-day-small:before,
.aui-icon-lights-dim-large:before,
.aui-icon-lights-dim-small:before,
.aui-icon-lights-full-beam-large:before,
.aui-icon-lights-full-beam-small:before,
.aui-icon-lights-led-large:before,
.aui-icon-lights-led-small:before,
.aui-icon-lights-xenon-large:before,
.aui-icon-lights-xenon-small:before,
.aui-icon-line-large:before,
.aui-icon-line-me-large:before,
.aui-icon-line-me-small:before,
.aui-icon-line-small:before,
.aui-icon-linkedin-large:before,
.aui-icon-linkedin-small:before,
.aui-icon-list-large:before,
.aui-icon-list-small:before,
.aui-icon-lock-large:before,
.aui-icon-lock-small:before,
.aui-icon-lock-unlock-large:before,
.aui-icon-lock-unlock-small:before,
.aui-icon-logbook-large:before,
.aui-icon-logbook-small:before,
.aui-icon-login-large:before,
.aui-icon-login-small:before,
.aui-icon-main-user-large:before,
.aui-icon-main-user-small:before,
.aui-icon-mileage-large:before,
.aui-icon-mileage-small:before,
.aui-icon-mobile-phone-large:before,
.aui-icon-mobile-phone-small:before,
.aui-icon-more-large:before,
.aui-icon-more-small:before,
.aui-icon-my-dealer-large:before,
.aui-icon-my-dealer-small:before,
.aui-icon-myaudi-destinations-large:before,
.aui-icon-myaudi-destinations-small:before,
.aui-icon-napster-large:before,
.aui-icon-napster-small:before,
.aui-icon-news-large:before,
.aui-icon-news-small:before,
.aui-icon-nfc-inactive-large:before,
.aui-icon-nfc-inactive-small:before,
.aui-icon-nfc-large:before,
.aui-icon-nfc-small:before,
.aui-icon-notepad-large:before,
.aui-icon-notepad-small:before,
.aui-icon-off-canvas-large:before,
.aui-icon-off-canvas-small:before,
.aui-icon-offline-maps-large:before,
.aui-icon-offline-maps-small:before,
.aui-icon-oil-change-large:before,
.aui-icon-oil-change-small:before,
.aui-icon-parking-in-left-large:before,
.aui-icon-parking-in-left-long-large:before,
.aui-icon-parking-in-left-long-small:before,
.aui-icon-parking-in-left-small:before,
.aui-icon-parking-in-right-large:before,
.aui-icon-parking-in-right-long-large:before,
.aui-icon-parking-in-right-long-small:before,
.aui-icon-parking-in-right-small:before,
.aui-icon-parking-in-straight-large:before,
.aui-icon-parking-in-straight-small:before,
.aui-icon-parking-large:before,
.aui-icon-parking-out-left-large:before,
.aui-icon-parking-out-left-long-large:before,
.aui-icon-parking-out-left-long-small:before,
.aui-icon-parking-out-left-small:before,
.aui-icon-parking-out-right-large:before,
.aui-icon-parking-out-right-long-large:before,
.aui-icon-parking-out-right-long-small:before,
.aui-icon-parking-out-right-small:before,
.aui-icon-parking-out-straight-large:before,
.aui-icon-parking-out-straight-small:before,
.aui-icon-parking-small:before,
.aui-icon-pause-large:before,
.aui-icon-pause-small:before,
.aui-icon-photo-large:before,
.aui-icon-photo-small:before,
.aui-icon-piloted-parking-large:before,
.aui-icon-piloted-parking-small:before,
.aui-icon-pinterest-large:before,
.aui-icon-pinterest-small:before,
.aui-icon-play-large:before,
.aui-icon-play-small:before,
.aui-icon-poi-calendar-large:before,
.aui-icon-poi-calendar-small:before,
.aui-icon-poi-car-large:before,
.aui-icon-poi-car-small:before,
.aui-icon-poi-contact-large:before,
.aui-icon-poi-contact-small:before,
.aui-icon-poi-favorite-large:before,
.aui-icon-poi-favorite-small:before,
.aui-icon-poi-home-large:before,
.aui-icon-poi-home-small:before,
.aui-icon-poi-large:before,
.aui-icon-poi-last-destination-large:before,
.aui-icon-poi-last-destination-small:before,
.aui-icon-poi-search-large:before,
.aui-icon-poi-search-small:before,
.aui-icon-poi-small:before,
.aui-icon-poi-work-large:before,
.aui-icon-poi-work-small:before,
.aui-icon-pois-large:before,
.aui-icon-pois-small:before,
.aui-icon-polls-large:before,
.aui-icon-polls-small:before,
.aui-icon-power-large:before,
.aui-icon-power-small:before,
.aui-icon-pre-heating-large:before,
.aui-icon-pre-heating-small:before,
.aui-icon-print-large:before,
.aui-icon-print-small:before,
.aui-icon-profile-large:before,
.aui-icon-profile-small:before,
.aui-icon-projects-large:before,
.aui-icon-projects-small:before,
.aui-icon-public-transport-large:before,
.aui-icon-public-transport-small:before,
.aui-icon-quattro-large:before,
.aui-icon-quattro-small:before,
.aui-icon-receive-e-mail-notification-large:before,
.aui-icon-receive-e-mail-notification-small:before,
.aui-icon-recommended-destination-large:before,
.aui-icon-recommended-destination-small:before,
.aui-icon-replay-large:before,
.aui-icon-replay-small:before,
.aui-icon-resize-decrease-large:before,
.aui-icon-resize-decrease-small:before,
.aui-icon-resize-increase-large:before,
.aui-icon-resize-increase-small:before,
.aui-icon-results-list-large:before,
.aui-icon-results-list-small:before,
.aui-icon-rotate-image-left-large:before,
.aui-icon-rotate-image-left-small:before,
.aui-icon-rotate-image-right-large:before,
.aui-icon-rotate-image-right-small:before,
.aui-icon-rotate-left-large:before,
.aui-icon-rotate-left-small:before,
.aui-icon-rotate-right-large:before,
.aui-icon-rotate-right-small:before,
.aui-icon-roundabout-left-large:before,
.aui-icon-roundabout-left-small:before,
.aui-icon-roundabout-long-left-large:before,
.aui-icon-roundabout-long-left-small:before,
.aui-icon-roundabout-long-right-large:before,
.aui-icon-roundabout-long-right-small:before,
.aui-icon-roundabout-right-large:before,
.aui-icon-roundabout-right-small:before,
.aui-icon-roundabout-sharp-left-large:before,
.aui-icon-roundabout-sharp-left-small:before,
.aui-icon-roundabout-sharp-right-large:before,
.aui-icon-roundabout-sharp-right-small:before,
.aui-icon-roundabout-straight-large:before,
.aui-icon-roundabout-straight-small:before,
.aui-icon-rss-feed-large:before,
.aui-icon-rss-feed-small:before,
.aui-icon-search-large:before,
.aui-icon-search-small:before,
.aui-icon-select-all-large:before,
.aui-icon-select-all-small:before,
.aui-icon-select-large:before,
.aui-icon-select-small:before,
.aui-icon-send-to-vehicle-large:before,
.aui-icon-send-to-vehicle-small:before,
.aui-icon-settings-large:before,
.aui-icon-settings-small:before,
.aui-icon-share-large:before,
.aui-icon-share-small:before,
.aui-icon-shopping-basket-large:before,
.aui-icon-shopping-basket-small:before,
.aui-icon-shuffle-large:before,
.aui-icon-shuffle-small:before,
.aui-icon-skip-next-large:before,
.aui-icon-skip-next-small:before,
.aui-icon-skip-previous-large:before,
.aui-icon-skip-previous-small:before,
.aui-icon-snapchat-large:before,
.aui-icon-snapchat-small:before,
.aui-icon-social-reader-large:before,
.aui-icon-social-reader-small:before,
.aui-icon-status-update-large:before,
.aui-icon-status-update-small:before,
.aui-icon-sync-large:before,
.aui-icon-sync-small:before,
.aui-icon-system-add-large:before,
.aui-icon-system-add-small:before,
.aui-icon-system-audio-off-large:before,
.aui-icon-system-audio-off-small:before,
.aui-icon-system-audio-on-large:before,
.aui-icon-system-audio-on-small:before,
.aui-icon-system-cancel-large:before,
.aui-icon-system-cancel-small:before,
.aui-icon-system-code-large:before,
.aui-icon-system-code-small:before,
.aui-icon-system-download-large:before,
.aui-icon-system-download-small:before,
.aui-icon-system-facebook-large:before,
.aui-icon-system-facebook-small:before,
.aui-icon-system-favorites-large:before,
.aui-icon-system-favorites-small:before,
.aui-icon-system-follow-large:before,
.aui-icon-system-follow-small:before,
.aui-icon-system-google-plus-large:before,
.aui-icon-system-google-plus-small:before,
.aui-icon-system-help-large:before,
.aui-icon-system-help-small:before,
.aui-icon-system-info-large:before,
.aui-icon-system-info-small:before,
.aui-icon-system-instagram-large:before,
.aui-icon-system-instagram-small:before,
.aui-icon-system-line-me-large:before,
.aui-icon-system-line-me-small:before,
.aui-icon-system-linkedin-large:before,
.aui-icon-system-linkedin-small:before,
.aui-icon-system-paragraph-large:before,
.aui-icon-system-paragraph-small:before,
.aui-icon-system-pause-large:before,
.aui-icon-system-pause-small:before,
.aui-icon-system-pinterest-large:before,
.aui-icon-system-pinterest-small:before,
.aui-icon-system-play-backwards-large:before,
.aui-icon-system-play-backwards-small:before,
.aui-icon-system-play-large:before,
.aui-icon-system-play-small:before,
.aui-icon-system-print-large:before,
.aui-icon-system-print-small:before,
.aui-icon-system-remove-large:before,
.aui-icon-system-remove-small:before,
.aui-icon-system-replay-large:before,
.aui-icon-system-replay-small:before,
.aui-icon-system-resize-decrease-large:before,
.aui-icon-system-resize-decrease-small:before,
.aui-icon-system-resize-increase-large:before,
.aui-icon-system-resize-increase-small:before,
.aui-icon-system-save-as-large:before,
.aui-icon-system-save-as-small:before,
.aui-icon-system-search-large:before,
.aui-icon-system-search-small:before,
.aui-icon-system-select-large:before,
.aui-icon-system-select-small:before,
.aui-icon-system-settings-large:before,
.aui-icon-system-settings-small:before,
.aui-icon-system-share-large:before,
.aui-icon-system-share-small:before,
.aui-icon-system-skip-next-large:before,
.aui-icon-system-skip-next-small:before,
.aui-icon-system-skip-previous-large:before,
.aui-icon-system-skip-previous-small:before,
.aui-icon-system-snapchat-large:before,
.aui-icon-system-snapchat-small:before,
.aui-icon-system-sync-large:before,
.aui-icon-system-sync-small:before,
.aui-icon-system-twitter-large:before,
.aui-icon-system-twitter-small:before,
.aui-icon-system-upload-large:before,
.aui-icon-system-upload-small:before,
.aui-icon-system-vimeo-large:before,
.aui-icon-system-vimeo-small:before,
.aui-icon-system-wechat-large:before,
.aui-icon-system-wechat-small:before,
.aui-icon-system-weibo-large:before,
.aui-icon-system-weibo-small:before,
.aui-icon-system-xing-large:before,
.aui-icon-system-xing-small:before,
.aui-icon-system-yelp-large:before,
.aui-icon-system-yelp-small:before,
.aui-icon-system-youku-large:before,
.aui-icon-system-youku-small:before,
.aui-icon-system-youtube-large:before,
.aui-icon-system-youtube-small:before,
.aui-icon-system-zhihu-large:before,
.aui-icon-system-zhihu-small:before,
.aui-icon-tag-large:before,
.aui-icon-tag-small:before,
.aui-icon-test-drive-large:before,
.aui-icon-test-drive-small:before,
.aui-icon-time-climate1-large:before,
.aui-icon-time-climate1-small:before,
.aui-icon-time-climate2-large:before,
.aui-icon-time-climate2-small:before,
.aui-icon-time-large:before,
.aui-icon-time-long-large:before,
.aui-icon-time-long-small:before,
.aui-icon-time-middle-large:before,
.aui-icon-time-middle-small:before,
.aui-icon-time-short-large:before,
.aui-icon-time-short-small:before,
.aui-icon-time-small:before,
.aui-icon-top-speed-large:before,
.aui-icon-top-speed-small:before,
.aui-icon-torque-large:before,
.aui-icon-torque-small:before,
.aui-icon-tour-large:before,
.aui-icon-tour-small:before,
.aui-icon-traffic-large:before,
.aui-icon-traffic-sign-recognition-alert-large:before,
.aui-icon-traffic-sign-recognition-alert-small:before,
.aui-icon-traffic-sign-recognition-large:before,
.aui-icon-traffic-sign-recognition-small:before,
.aui-icon-traffic-small:before,
.aui-icon-train-large:before,
.aui-icon-train-small:before,
.aui-icon-transmission-large:before,
.aui-icon-transmission-small:before,
.aui-icon-tube-large:before,
.aui-icon-tube-small:before,
.aui-icon-twitter-large:before,
.aui-icon-twitter-small:before,
.aui-icon-used-car-search-large:before,
.aui-icon-used-car-search-small:before,
.aui-icon-used-cars-large:before,
.aui-icon-used-cars-small:before,
.aui-icon-user-large:before,
.aui-icon-user-small:before,
.aui-icon-user-whole-body-large:before,
.aui-icon-user-whole-body-small:before,
.aui-icon-valet-parking-large:before,
.aui-icon-valet-parking-small:before,
.aui-icon-vehicle-signal-large:before,
.aui-icon-vehicle-signal-small:before,
.aui-icon-vehicle-wi-fi-1-large:before,
.aui-icon-vehicle-wi-fi-1-small:before,
.aui-icon-vehicle-wi-fi-2-large:before,
.aui-icon-vehicle-wi-fi-2-small:before,
.aui-icon-vehicle-wi-fi-3-large:before,
.aui-icon-vehicle-wi-fi-3-small:before,
.aui-icon-vehicle-wi-fi-4-large:before,
.aui-icon-vehicle-wi-fi-4-small:before,
.aui-icon-velocity-alert-large:before,
.aui-icon-velocity-alert-small:before,
.aui-icon-velocity-large:before,
.aui-icon-velocity-small:before,
.aui-icon-video-large:before,
.aui-icon-video-small:before,
.aui-icon-view-360-large:before,
.aui-icon-view-360-small:before,
.aui-icon-vimeo-large:before,
.aui-icon-vimeo-small:before,
.aui-icon-voice-call-1-large:before,
.aui-icon-voice-call-1-small:before,
.aui-icon-voice-call-2-large:before,
.aui-icon-voice-call-2-small:before,
.aui-icon-voice-call-3-large:before,
.aui-icon-voice-call-3-small:before,
.aui-icon-voice-call-large:before,
.aui-icon-voice-call-small:before,
.aui-icon-walk-large:before,
.aui-icon-walk-small:before,
.aui-icon-weblink-large:before,
.aui-icon-weblink-small:before,
.aui-icon-wechat-large:before,
.aui-icon-wechat-small:before,
.aui-icon-weibo-large:before,
.aui-icon-weibo-small:before,
.aui-icon-work-large:before,
.aui-icon-work-small:before,
.aui-icon-xing-large:before,
.aui-icon-xing-small:before,
.aui-icon-yelp-large:before,
.aui-icon-yelp-small:before,
.aui-icon-youku-large:before,
.aui-icon-youku-small:before,
.aui-icon-youtube-large:before,
.aui-icon-youtube-small:before,
.aui-icon-zhihu-large:before,
.aui-icon-zhihu-small:before {
  font-family: "audi-iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.aui-icon-adblue-alert-large:before { content: "\EA01" }
.aui-icon-adblue-alert-small:before { content: "\EA02" }
.aui-icon-adblue-large:before { content: "\EA03" }
.aui-icon-adblue-small:before { content: "\EA04" }
.aui-icon-address-book-large:before { content: "\EA05" }
.aui-icon-address-book-small:before { content: "\EA06" }
.aui-icon-administrator-large:before { content: "\EA07" }
.aui-icon-administrator-small:before { content: "\EA08" }
.aui-icon-announcements-large:before { content: "\EA09" }
.aui-icon-announcements-small:before { content: "\EA0A" }
.aui-icon-anti-theft-alarm-system-alert-large:before { content: "\EA0B" }
.aui-icon-anti-theft-alarm-system-alert-small:before { content: "\EA0C" }
.aui-icon-anti-theft-alarm-system-large:before { content: "\EA0D" }
.aui-icon-anti-theft-alarm-system-small:before { content: "\EA0E" }
.aui-icon-apps-large:before { content: "\EA0F" }
.aui-icon-apps-small:before { content: "\EA10" }
.aui-icon-arrow-down-large:before { content: "\EA11" }
.aui-icon-arrow-down-small:before { content: "\EA12" }
.aui-icon-arrow-left-light-large:before { content: "\EA13" }
.aui-icon-arrow-left-light-small:before { content: "\EA14" }
.aui-icon-arrow-left-normal-large:before { content: "\EA15" }
.aui-icon-arrow-left-normal-small:before { content: "\EA16" }
.aui-icon-arrow-left-sharp-large:before { content: "\EA17" }
.aui-icon-arrow-left-sharp-small:before { content: "\EA18" }
.aui-icon-arrow-left-u-turn-large:before { content: "\EA19" }
.aui-icon-arrow-left-u-turn-small:before { content: "\EA1A" }
.aui-icon-arrow-narrow-down-large:before { content: "\EA1B" }
.aui-icon-arrow-narrow-down-small:before { content: "\EA1C" }
.aui-icon-arrow-narrow-up-large:before { content: "\EA1D" }
.aui-icon-arrow-narrow-up-small:before { content: "\EA1E" }
.aui-icon-arrow-right-light-large:before { content: "\EA1F" }
.aui-icon-arrow-right-light-small:before { content: "\EA20" }
.aui-icon-arrow-right-normal-large:before { content: "\EA21" }
.aui-icon-arrow-right-normal-small:before { content: "\EA22" }
.aui-icon-arrow-right-sharp-large:before { content: "\EA23" }
.aui-icon-arrow-right-sharp-small:before { content: "\EA24" }
.aui-icon-arrow-right-u-turn-large:before { content: "\EA25" }
.aui-icon-arrow-right-u-turn-small:before { content: "\EA26" }
.aui-icon-arrow-straight-down-large:before { content: "\EA27" }
.aui-icon-arrow-straight-down-small:before { content: "\EA28" }
.aui-icon-arrow-straight-up-large:before { content: "\EA29" }
.aui-icon-arrow-straight-up-small:before { content: "\EA2A" }
.aui-icon-arrow-up-large:before { content: "\EA2B" }
.aui-icon-arrow-up-small:before { content: "\EA2C" }
.aui-icon-audio-volume-large:before { content: "\EA2D" }
.aui-icon-audio-volume-small:before { content: "\EA2E" }
.aui-icon-aupeo-large:before { content: "\EA2F" }
.aui-icon-aupeo-small:before { content: "\EA30" }
.aui-icon-back-large:before { content: "\EA31" }
.aui-icon-back-small:before { content: "\EA32" }
.aui-icon-blog-post-large:before { content: "\EA33" }
.aui-icon-blog-post-small:before { content: "\EA34" }
.aui-icon-bookmark-large:before { content: "\EA35" }
.aui-icon-bookmark-small:before { content: "\EA36" }
.aui-icon-brake-pad-alert-large:before { content: "\EA37" }
.aui-icon-brake-pad-alert-small:before { content: "\EA38" }
.aui-icon-brake-pad-large:before { content: "\EA39" }
.aui-icon-brake-pad-small:before { content: "\EA3A" }
.aui-icon-break-large:before { content: "\EA3B" }
.aui-icon-break-small:before { content: "\EA3C" }
.aui-icon-business-address-large:before { content: "\EA3D" }
.aui-icon-business-address-small:before { content: "\EA3E" }
.aui-icon-calculator-large:before { content: "\EA3F" }
.aui-icon-calculator-small:before { content: "\EA40" }
.aui-icon-calendar-events-large:before { content: "\EA41" }
.aui-icon-calendar-events-small:before { content: "\EA42" }
.aui-icon-camera-large:before { content: "\EA43" }
.aui-icon-camera-small:before { content: "\EA44" }
.aui-icon-cancel-large:before { content: "\EA45" }
.aui-icon-cancel-small:before { content: "\EA46" }
.aui-icon-car-handover-large:before { content: "\EA47" }
.aui-icon-car-handover-small:before { content: "\EA48" }
.aui-icon-car-large:before { content: "\EA49" }
.aui-icon-car-search-large:before { content: "\EA4A" }
.aui-icon-car-search-small:before { content: "\EA4B" }
.aui-icon-car-small:before { content: "\EA4C" }
.aui-icon-catalogue-large:before { content: "\EA4D" }
.aui-icon-catalogue-small:before { content: "\EA4E" }
.aui-icon-caution-large:before { content: "\EA4F" }
.aui-icon-caution-small:before { content: "\EA50" }
.aui-icon-charge-level-large:before { content: "\EA51" }
.aui-icon-charge-level-small:before { content: "\EA52" }
.aui-icon-charging-large:before { content: "\EA53" }
.aui-icon-charging-small:before { content: "\EA54" }
.aui-icon-charging-station-large:before { content: "\EA55" }
.aui-icon-charging-station-small:before { content: "\EA56" }
.aui-icon-climate-auto-large:before { content: "\EA57" }
.aui-icon-climate-auto-small:before { content: "\EA58" }
.aui-icon-climate-electric-large:before { content: "\EA59" }
.aui-icon-climate-electric-small:before { content: "\EA5A" }
.aui-icon-climate-large:before { content: "\EA5B" }
.aui-icon-climate-small:before { content: "\EA5C" }
.aui-icon-co2-emission-large:before { content: "\EA5D" }
.aui-icon-co2-emission-small:before { content: "\EA5E" }
.aui-icon-code-large:before { content: "\EA5F" }
.aui-icon-code-small:before { content: "\EA60" }
.aui-icon-connect-key-large:before { content: "\EA61" }
.aui-icon-connect-key-small:before { content: "\EA62" }
.aui-icon-consumption-large:before { content: "\EA63" }
.aui-icon-consumption-small:before { content: "\EA64" }
.aui-icon-content-activities-large:before { content: "\EA65" }
.aui-icon-content-activities-small:before { content: "\EA66" }
.aui-icon-cubic-capacity-large:before { content: "\EA67" }
.aui-icon-cubic-capacity-small:before { content: "\EA68" }
.aui-icon-dashboard-large:before { content: "\EA69" }
.aui-icon-dashboard-small:before { content: "\EA6A" }
.aui-icon-dealer-request-large:before { content: "\EA6B" }
.aui-icon-dealer-request-small:before { content: "\EA6C" }
.aui-icon-dealer-search-large:before { content: "\EA6D" }
.aui-icon-dealer-search-small:before { content: "\EA6E" }
.aui-icon-direct-mail-large:before { content: "\EA6F" }
.aui-icon-direct-mail-small:before { content: "\EA70" }
.aui-icon-discussion-large:before { content: "\EA71" }
.aui-icon-discussion-small:before { content: "\EA72" }
.aui-icon-distance-large:before { content: "\EA73" }
.aui-icon-distance-small:before { content: "\EA74" }
.aui-icon-document-pdf-large:before { content: "\EA75" }
.aui-icon-document-pdf-small:before { content: "\EA76" }
.aui-icon-document-pricelist-dollar-large:before { content: "\EA77" }
.aui-icon-document-pricelist-dollar-small:before { content: "\EA78" }
.aui-icon-document-pricelist-euro-large:before { content: "\EA79" }
.aui-icon-document-pricelist-euro-small:before { content: "\EA7A" }
.aui-icon-document-taxation-large:before { content: "\EA7B" }
.aui-icon-document-taxation-small:before { content: "\EA7C" }
.aui-icon-documents-large:before { content: "\EA7D" }
.aui-icon-documents-small:before { content: "\EA7E" }
.aui-icon-download-large:before { content: "\EA7F" }
.aui-icon-download-small:before { content: "\EA80" }
.aui-icon-edit-large:before { content: "\EA81" }
.aui-icon-edit-small:before { content: "\EA82" }
.aui-icon-editorial-large:before { content: "\EA83" }
.aui-icon-editorial-small:before { content: "\EA84" }
.aui-icon-electric-range-large:before { content: "\EA85" }
.aui-icon-electric-range-small:before { content: "\EA86" }
.aui-icon-engine-large:before { content: "\EA87" }
.aui-icon-engine-small:before { content: "\EA88" }
.aui-icon-erase-large:before { content: "\EA89" }
.aui-icon-erase-small:before { content: "\EA8A" }
.aui-icon-facebook-large:before { content: "\EA8B" }
.aui-icon-facebook-small:before { content: "\EA8C" }
.aui-icon-favorite-large:before { content: "\EA8D" }
.aui-icon-favorite-small:before { content: "\EA8E" }
.aui-icon-feature-on-demand-large:before { content: "\EA8F" }
.aui-icon-feature-on-demand-small:before { content: "\EA90" }
.aui-icon-feed-large:before { content: "\EA91" }
.aui-icon-feed-small:before { content: "\EA92" }
.aui-icon-filter-large:before { content: "\EA93" }
.aui-icon-filter-small:before { content: "\EA94" }
.aui-icon-forward-large:before { content: "\EA95" }
.aui-icon-forward-small:before { content: "\EA96" }
.aui-icon-fuel-range-large:before { content: "\EA97" }
.aui-icon-fuel-range-small:before { content: "\EA98" }
.aui-icon-fuel-station-large:before { content: "\EA99" }
.aui-icon-fuel-station-small:before { content: "\EA9A" }
.aui-icon-gas-station-large:before { content: "\EA9B" }
.aui-icon-gas-station-small:before { content: "\EA9C" }
.aui-icon-geofence-alert-large:before { content: "\EA9D" }
.aui-icon-geofence-alert-small:before { content: "\EA9E" }
.aui-icon-geofence-large:before { content: "\EA9F" }
.aui-icon-geofence-small:before { content: "\EAA0" }
.aui-icon-google-plus-large:before { content: "\EAA1" }
.aui-icon-google-plus-small:before { content: "\EAA2" }
.aui-icon-gps-large:before { content: "\EAA3" }
.aui-icon-gps-small:before { content: "\EAA4" }
.aui-icon-grab-large:before { content: "\EAA5" }
.aui-icon-grab-small:before { content: "\EAA6" }
.aui-icon-group-discussion-large:before { content: "\EAA7" }
.aui-icon-group-discussion-small:before { content: "\EAA8" }
.aui-icon-groups-large:before { content: "\EAA9" }
.aui-icon-groups-small:before { content: "\EAAA" }
.aui-icon-home-large:before { content: "\EAAB" }
.aui-icon-home-small:before { content: "\EAAC" }
.aui-icon-honk-and-flash-large:before { content: "\EAAD" }
.aui-icon-honk-and-flash-small:before { content: "\EAAE" }
.aui-icon-honk-large:before { content: "\EAAF" }
.aui-icon-honk-small:before { content: "\EAB0" }
.aui-icon-hotline-large:before { content: "\EAB1" }
.aui-icon-hotline-small:before { content: "\EAB2" }
.aui-icon-idea-large:before { content: "\EAB3" }
.aui-icon-idea-small:before { content: "\EAB4" }
.aui-icon-indicators-large:before { content: "\EAB5" }
.aui-icon-indicators-small:before { content: "\EAB6" }
.aui-icon-inspection-large:before { content: "\EAB7" }
.aui-icon-inspection-small:before { content: "\EAB8" }
.aui-icon-instagram-large:before { content: "\EAB9" }
.aui-icon-instagram-small:before { content: "\EABA" }
.aui-icon-interior-configuration-large:before { content: "\EABB" }
.aui-icon-interior-configuration-small:before { content: "\EABC" }
.aui-icon-languages-large:before { content: "\EABD" }
.aui-icon-languages-small:before { content: "\EABE" }
.aui-icon-lights-day-large:before { content: "\EABF" }
.aui-icon-lights-day-small:before { content: "\EAC0" }
.aui-icon-lights-dim-large:before { content: "\EAC1" }
.aui-icon-lights-dim-small:before { content: "\EAC2" }
.aui-icon-lights-full-beam-large:before { content: "\EAC3" }
.aui-icon-lights-full-beam-small:before { content: "\EAC4" }
.aui-icon-lights-led-large:before { content: "\EAC5" }
.aui-icon-lights-led-small:before { content: "\EAC6" }
.aui-icon-lights-xenon-large:before { content: "\EAC7" }
.aui-icon-lights-xenon-small:before { content: "\EAC8" }
.aui-icon-line-large:before { content: "\EAC9" }
.aui-icon-line-me-large:before { content: "\EACA" }
.aui-icon-line-me-small:before { content: "\EACB" }
.aui-icon-line-small:before { content: "\EACC" }
.aui-icon-linkedin-large:before { content: "\EACD" }
.aui-icon-linkedin-small:before { content: "\EACE" }
.aui-icon-list-large:before { content: "\EACF" }
.aui-icon-list-small:before { content: "\EAD0" }
.aui-icon-lock-large:before { content: "\EAD1" }
.aui-icon-lock-small:before { content: "\EAD2" }
.aui-icon-lock-unlock-large:before { content: "\EAD3" }
.aui-icon-lock-unlock-small:before { content: "\EAD4" }
.aui-icon-logbook-large:before { content: "\EAD5" }
.aui-icon-logbook-small:before { content: "\EAD6" }
.aui-icon-login-large:before { content: "\EAD7" }
.aui-icon-login-small:before { content: "\EAD8" }
.aui-icon-main-user-large:before { content: "\EAD9" }
.aui-icon-main-user-small:before { content: "\EADA" }
.aui-icon-mileage-large:before { content: "\EADB" }
.aui-icon-mileage-small:before { content: "\EADC" }
.aui-icon-mobile-phone-large:before { content: "\EADD" }
.aui-icon-mobile-phone-small:before { content: "\EADE" }
.aui-icon-more-large:before { content: "\EADF" }
.aui-icon-more-small:before { content: "\EAE0" }
.aui-icon-my-dealer-large:before { content: "\EAE1" }
.aui-icon-my-dealer-small:before { content: "\EAE2" }
.aui-icon-myaudi-destinations-large:before { content: "\EAE3" }
.aui-icon-myaudi-destinations-small:before { content: "\EAE4" }
.aui-icon-napster-large:before { content: "\EAE5" }
.aui-icon-napster-small:before { content: "\EAE6" }
.aui-icon-news-large:before { content: "\EAE7" }
.aui-icon-news-small:before { content: "\EAE8" }
.aui-icon-nfc-inactive-large:before { content: "\EAE9" }
.aui-icon-nfc-inactive-small:before { content: "\EAEA" }
.aui-icon-nfc-large:before { content: "\EAEB" }
.aui-icon-nfc-small:before { content: "\EAEC" }
.aui-icon-notepad-large:before { content: "\EAED" }
.aui-icon-notepad-small:before { content: "\EAEE" }
.aui-icon-off-canvas-large:before { content: "\EAEF" }
.aui-icon-off-canvas-small:before { content: "\EAF0" }
.aui-icon-offline-maps-large:before { content: "\EAF1" }
.aui-icon-offline-maps-small:before { content: "\EAF2" }
.aui-icon-oil-change-large:before { content: "\EAF3" }
.aui-icon-oil-change-small:before { content: "\EAF4" }
.aui-icon-parking-in-left-large:before { content: "\EAF5" }
.aui-icon-parking-in-left-long-large:before { content: "\EAF6" }
.aui-icon-parking-in-left-long-small:before { content: "\EAF7" }
.aui-icon-parking-in-left-small:before { content: "\EAF8" }
.aui-icon-parking-in-right-large:before { content: "\EAF9" }
.aui-icon-parking-in-right-long-large:before { content: "\EAFA" }
.aui-icon-parking-in-right-long-small:before { content: "\EAFB" }
.aui-icon-parking-in-right-small:before { content: "\EAFC" }
.aui-icon-parking-in-straight-large:before { content: "\EAFD" }
.aui-icon-parking-in-straight-small:before { content: "\EAFE" }
.aui-icon-parking-large:before { content: "\EAFF" }
.aui-icon-parking-out-left-large:before { content: "\EB00" }
.aui-icon-parking-out-left-long-large:before { content: "\EB01" }
.aui-icon-parking-out-left-long-small:before { content: "\EB02" }
.aui-icon-parking-out-left-small:before { content: "\EB03" }
.aui-icon-parking-out-right-large:before { content: "\EB04" }
.aui-icon-parking-out-right-long-large:before { content: "\EB05" }
.aui-icon-parking-out-right-long-small:before { content: "\EB06" }
.aui-icon-parking-out-right-small:before { content: "\EB07" }
.aui-icon-parking-out-straight-large:before { content: "\EB08" }
.aui-icon-parking-out-straight-small:before { content: "\EB09" }
.aui-icon-parking-small:before { content: "\EB0A" }
.aui-icon-pause-large:before { content: "\EB0B" }
.aui-icon-pause-small:before { content: "\EB0C" }
.aui-icon-photo-large:before { content: "\EB0D" }
.aui-icon-photo-small:before { content: "\EB0E" }
.aui-icon-piloted-parking-large:before { content: "\EB0F" }
.aui-icon-piloted-parking-small:before { content: "\EB10" }
.aui-icon-pinterest-large:before { content: "\EB11" }
.aui-icon-pinterest-small:before { content: "\EB12" }
.aui-icon-play-large:before { content: "\EB13" }
.aui-icon-play-small:before { content: "\EB14" }
.aui-icon-poi-calendar-large:before { content: "\EB15" }
.aui-icon-poi-calendar-small:before { content: "\EB16" }
.aui-icon-poi-car-large:before { content: "\EB17" }
.aui-icon-poi-car-small:before { content: "\EB18" }
.aui-icon-poi-contact-large:before { content: "\EB19" }
.aui-icon-poi-contact-small:before { content: "\EB1A" }
.aui-icon-poi-favorite-large:before { content: "\EB1B" }
.aui-icon-poi-favorite-small:before { content: "\EB1C" }
.aui-icon-poi-home-large:before { content: "\EB1D" }
.aui-icon-poi-home-small:before { content: "\EB1E" }
.aui-icon-poi-large:before { content: "\EB1F" }
.aui-icon-poi-last-destination-large:before { content: "\EB20" }
.aui-icon-poi-last-destination-small:before { content: "\EB21" }
.aui-icon-poi-search-large:before { content: "\EB22" }
.aui-icon-poi-search-small:before { content: "\EB23" }
.aui-icon-poi-small:before { content: "\EB24" }
.aui-icon-poi-work-large:before { content: "\EB25" }
.aui-icon-poi-work-small:before { content: "\EB26" }
.aui-icon-pois-large:before { content: "\EB27" }
.aui-icon-pois-small:before { content: "\EB28" }
.aui-icon-polls-large:before { content: "\EB29" }
.aui-icon-polls-small:before { content: "\EB2A" }
.aui-icon-power-large:before { content: "\EB2B" }
.aui-icon-power-small:before { content: "\EB2C" }
.aui-icon-pre-heating-large:before { content: "\EB2D" }
.aui-icon-pre-heating-small:before { content: "\EB2E" }
.aui-icon-print-large:before { content: "\EB2F" }
.aui-icon-print-small:before { content: "\EB30" }
.aui-icon-profile-large:before { content: "\EB31" }
.aui-icon-profile-small:before { content: "\EB32" }
.aui-icon-projects-large:before { content: "\EB33" }
.aui-icon-projects-small:before { content: "\EB34" }
.aui-icon-public-transport-large:before { content: "\EB35" }
.aui-icon-public-transport-small:before { content: "\EB36" }
.aui-icon-quattro-large:before { content: "\EB37" }
.aui-icon-quattro-small:before { content: "\EB38" }
.aui-icon-receive-e-mail-notification-large:before { content: "\EB39" }
.aui-icon-receive-e-mail-notification-small:before { content: "\EB3A" }
.aui-icon-recommended-destination-large:before { content: "\EB3B" }
.aui-icon-recommended-destination-small:before { content: "\EB3C" }
.aui-icon-replay-large:before { content: "\EB3D" }
.aui-icon-replay-small:before { content: "\EB3E" }
.aui-icon-resize-decrease-large:before { content: "\EB3F" }
.aui-icon-resize-decrease-small:before { content: "\EB40" }
.aui-icon-resize-increase-large:before { content: "\EB41" }
.aui-icon-resize-increase-small:before { content: "\EB42" }
.aui-icon-results-list-large:before { content: "\EB43" }
.aui-icon-results-list-small:before { content: "\EB44" }
.aui-icon-rotate-image-left-large:before { content: "\EB45" }
.aui-icon-rotate-image-left-small:before { content: "\EB46" }
.aui-icon-rotate-image-right-large:before { content: "\EB47" }
.aui-icon-rotate-image-right-small:before { content: "\EB48" }
.aui-icon-rotate-left-large:before { content: "\EB49" }
.aui-icon-rotate-left-small:before { content: "\EB4A" }
.aui-icon-rotate-right-large:before { content: "\EB4B" }
.aui-icon-rotate-right-small:before { content: "\EB4C" }
.aui-icon-roundabout-left-large:before { content: "\EB4D" }
.aui-icon-roundabout-left-small:before { content: "\EB4E" }
.aui-icon-roundabout-long-left-large:before { content: "\EB4F" }
.aui-icon-roundabout-long-left-small:before { content: "\EB50" }
.aui-icon-roundabout-long-right-large:before { content: "\EB51" }
.aui-icon-roundabout-long-right-small:before { content: "\EB52" }
.aui-icon-roundabout-right-large:before { content: "\EB53" }
.aui-icon-roundabout-right-small:before { content: "\EB54" }
.aui-icon-roundabout-sharp-left-large:before { content: "\EB55" }
.aui-icon-roundabout-sharp-left-small:before { content: "\EB56" }
.aui-icon-roundabout-sharp-right-large:before { content: "\EB57" }
.aui-icon-roundabout-sharp-right-small:before { content: "\EB58" }
.aui-icon-roundabout-straight-large:before { content: "\EB59" }
.aui-icon-roundabout-straight-small:before { content: "\EB5A" }
.aui-icon-rss-feed-large:before { content: "\EB5B" }
.aui-icon-rss-feed-small:before { content: "\EB5C" }
.aui-icon-search-large:before { content: "\EB5D" }
.aui-icon-search-small:before { content: "\EB5E" }
.aui-icon-select-all-large:before { content: "\EB5F" }
.aui-icon-select-all-small:before { content: "\EB60" }
.aui-icon-select-large:before { content: "\EB61" }
.aui-icon-select-small:before { content: "\EB62" }
.aui-icon-send-to-vehicle-large:before { content: "\EB63" }
.aui-icon-send-to-vehicle-small:before { content: "\EB64" }
.aui-icon-settings-large:before { content: "\EB65" }
.aui-icon-settings-small:before { content: "\EB66" }
.aui-icon-share-large:before { content: "\EB67" }
.aui-icon-share-small:before { content: "\EB68" }
.aui-icon-shopping-basket-large:before { content: "\EB69" }
.aui-icon-shopping-basket-small:before { content: "\EB6A" }
.aui-icon-shuffle-large:before { content: "\EB6B" }
.aui-icon-shuffle-small:before { content: "\EB6C" }
.aui-icon-skip-next-large:before { content: "\EB6D" }
.aui-icon-skip-next-small:before { content: "\EB6E" }
.aui-icon-skip-previous-large:before { content: "\EB6F" }
.aui-icon-skip-previous-small:before { content: "\EB70" }
.aui-icon-snapchat-large:before { content: "\EB71" }
.aui-icon-snapchat-small:before { content: "\EB72" }
.aui-icon-social-reader-large:before { content: "\EB73" }
.aui-icon-social-reader-small:before { content: "\EB74" }
.aui-icon-status-update-large:before { content: "\EB75" }
.aui-icon-status-update-small:before { content: "\EB76" }
.aui-icon-sync-large:before { content: "\EB77" }
.aui-icon-sync-small:before { content: "\EB78" }
.aui-icon-system-add-large:before { content: "\EB79" }
.aui-icon-system-add-small:before { content: "\EB7A" }
.aui-icon-system-audio-off-large:before { content: "\EB7B" }
.aui-icon-system-audio-off-small:before { content: "\EB7C" }
.aui-icon-system-audio-on-large:before { content: "\EB7D" }
.aui-icon-system-audio-on-small:before { content: "\EB7E" }
.aui-icon-system-cancel-large:before { content: "\EB7F" }
.aui-icon-system-cancel-small:before { content: "\EB80" }
.aui-icon-system-code-large:before { content: "\EB81" }
.aui-icon-system-code-small:before { content: "\EB82" }
.aui-icon-system-download-large:before { content: "\EB83" }
.aui-icon-system-download-small:before { content: "\EB84" }
.aui-icon-system-facebook-large:before { content: "\EB85" }
.aui-icon-system-facebook-small:before { content: "\EB86" }
.aui-icon-system-favorites-large:before { content: "\EB87" }
.aui-icon-system-favorites-small:before { content: "\EB88" }
.aui-icon-system-follow-large:before { content: "\EB89" }
.aui-icon-system-follow-small:before { content: "\EB8A" }
.aui-icon-system-google-plus-large:before { content: "\EB8B" }
.aui-icon-system-google-plus-small:before { content: "\EB8C" }
.aui-icon-system-help-large:before { content: "\EB8D" }
.aui-icon-system-help-small:before { content: "\EB8E" }
.aui-icon-system-info-large:before { content: "\EB8F" }
.aui-icon-system-info-small:before { content: "\EB90" }
.aui-icon-system-instagram-large:before { content: "\EB91" }
.aui-icon-system-instagram-small:before { content: "\EB92" }
.aui-icon-system-line-me-large:before { content: "\EB93" }
.aui-icon-system-line-me-small:before { content: "\EB94" }
.aui-icon-system-linkedin-large:before { content: "\EB95" }
.aui-icon-system-linkedin-small:before { content: "\EB96" }
.aui-icon-system-paragraph-large:before { content: "\EB97" }
.aui-icon-system-paragraph-small:before { content: "\EB98" }
.aui-icon-system-pause-large:before { content: "\EB99" }
.aui-icon-system-pause-small:before { content: "\EB9A" }
.aui-icon-system-pinterest-large:before { content: "\EB9B" }
.aui-icon-system-pinterest-small:before { content: "\EB9C" }
.aui-icon-system-play-backwards-large:before { content: "\EB9D" }
.aui-icon-system-play-backwards-small:before { content: "\EB9E" }
.aui-icon-system-play-large:before { content: "\EB9F" }
.aui-icon-system-play-small:before { content: "\EBA0" }
.aui-icon-system-print-large:before { content: "\EBA1" }
.aui-icon-system-print-small:before { content: "\EBA2" }
.aui-icon-system-remove-large:before { content: "\EBA3" }
.aui-icon-system-remove-small:before { content: "\EBA4" }
.aui-icon-system-replay-large:before { content: "\EBA5" }
.aui-icon-system-replay-small:before { content: "\EBA6" }
.aui-icon-system-resize-decrease-large:before { content: "\EBA7" }
.aui-icon-system-resize-decrease-small:before { content: "\EBA8" }
.aui-icon-system-resize-increase-large:before { content: "\EBA9" }
.aui-icon-system-resize-increase-small:before { content: "\EBAA" }
.aui-icon-system-save-as-large:before { content: "\EBAB" }
.aui-icon-system-save-as-small:before { content: "\EBAC" }
.aui-icon-system-search-large:before { content: "\EBAD" }
.aui-icon-system-search-small:before { content: "\EBAE" }
.aui-icon-system-select-large:before { content: "\EBAF" }
.aui-icon-system-select-small:before { content: "\EBB0" }
.aui-icon-system-settings-large:before { content: "\EBB1" }
.aui-icon-system-settings-small:before { content: "\EBB2" }
.aui-icon-system-share-large:before { content: "\EBB3" }
.aui-icon-system-share-small:before { content: "\EBB4" }
.aui-icon-system-skip-next-large:before { content: "\EBB5" }
.aui-icon-system-skip-next-small:before { content: "\EBB6" }
.aui-icon-system-skip-previous-large:before { content: "\EBB7" }
.aui-icon-system-skip-previous-small:before { content: "\EBB8" }
.aui-icon-system-snapchat-large:before { content: "\EBB9" }
.aui-icon-system-snapchat-small:before { content: "\EBBA" }
.aui-icon-system-sync-large:before { content: "\EBBB" }
.aui-icon-system-sync-small:before { content: "\EBBC" }
.aui-icon-system-twitter-large:before { content: "\EBBD" }
.aui-icon-system-twitter-small:before { content: "\EBBE" }
.aui-icon-system-upload-large:before { content: "\EBBF" }
.aui-icon-system-upload-small:before { content: "\EBC0" }
.aui-icon-system-vimeo-large:before { content: "\EBC1" }
.aui-icon-system-vimeo-small:before { content: "\EBC2" }
.aui-icon-system-wechat-large:before { content: "\EBC3" }
.aui-icon-system-wechat-small:before { content: "\EBC4" }
.aui-icon-system-weibo-large:before { content: "\EBC5" }
.aui-icon-system-weibo-small:before { content: "\EBC6" }
.aui-icon-system-xing-large:before { content: "\EBC7" }
.aui-icon-system-xing-small:before { content: "\EBC8" }
.aui-icon-system-yelp-large:before { content: "\EBC9" }
.aui-icon-system-yelp-small:before { content: "\EBCA" }
.aui-icon-system-youku-large:before { content: "\EBCB" }
.aui-icon-system-youku-small:before { content: "\EBCC" }
.aui-icon-system-youtube-large:before { content: "\EBCD" }
.aui-icon-system-youtube-small:before { content: "\EBCE" }
.aui-icon-system-zhihu-large:before { content: "\EBCF" }
.aui-icon-system-zhihu-small:before { content: "\EBD0" }
.aui-icon-tag-large:before { content: "\EBD1" }
.aui-icon-tag-small:before { content: "\EBD2" }
.aui-icon-test-drive-large:before { content: "\EBD3" }
.aui-icon-test-drive-small:before { content: "\EBD4" }
.aui-icon-time-climate1-large:before { content: "\EBD5" }
.aui-icon-time-climate1-small:before { content: "\EBD6" }
.aui-icon-time-climate2-large:before { content: "\EBD7" }
.aui-icon-time-climate2-small:before { content: "\EBD8" }
.aui-icon-time-large:before { content: "\EBD9" }
.aui-icon-time-long-large:before { content: "\EBDA" }
.aui-icon-time-long-small:before { content: "\EBDB" }
.aui-icon-time-middle-large:before { content: "\EBDC" }
.aui-icon-time-middle-small:before { content: "\EBDD" }
.aui-icon-time-short-large:before { content: "\EBDE" }
.aui-icon-time-short-small:before { content: "\EBDF" }
.aui-icon-time-small:before { content: "\EBE0" }
.aui-icon-top-speed-large:before { content: "\EBE1" }
.aui-icon-top-speed-small:before { content: "\EBE2" }
.aui-icon-torque-large:before { content: "\EBE3" }
.aui-icon-torque-small:before { content: "\EBE4" }
.aui-icon-tour-large:before { content: "\EBE5" }
.aui-icon-tour-small:before { content: "\EBE6" }
.aui-icon-traffic-large:before { content: "\EBE7" }
.aui-icon-traffic-sign-recognition-alert-large:before { content: "\EBE8" }
.aui-icon-traffic-sign-recognition-alert-small:before { content: "\EBE9" }
.aui-icon-traffic-sign-recognition-large:before { content: "\EBEA" }
.aui-icon-traffic-sign-recognition-small:before { content: "\EBEB" }
.aui-icon-traffic-small:before { content: "\EBEC" }
.aui-icon-train-large:before { content: "\EBED" }
.aui-icon-train-small:before { content: "\EBEE" }
.aui-icon-transmission-large:before { content: "\EBEF" }
.aui-icon-transmission-small:before { content: "\EBF0" }
.aui-icon-tube-large:before { content: "\EBF1" }
.aui-icon-tube-small:before { content: "\EBF2" }
.aui-icon-twitter-large:before { content: "\EBF3" }
.aui-icon-twitter-small:before { content: "\EBF4" }
.aui-icon-used-car-search-large:before { content: "\EBF5" }
.aui-icon-used-car-search-small:before { content: "\EBF6" }
.aui-icon-used-cars-large:before { content: "\EBF7" }
.aui-icon-used-cars-small:before { content: "\EBF8" }
.aui-icon-user-large:before { content: "\EBF9" }
.aui-icon-user-small:before { content: "\EBFA" }
.aui-icon-user-whole-body-large:before { content: "\EBFB" }
.aui-icon-user-whole-body-small:before { content: "\EBFC" }
.aui-icon-valet-parking-large:before { content: "\EBFD" }
.aui-icon-valet-parking-small:before { content: "\EBFE" }
.aui-icon-vehicle-signal-large:before { content: "\EBFF" }
.aui-icon-vehicle-signal-small:before { content: "\EC00" }
.aui-icon-vehicle-wi-fi-1-large:before { content: "\EC01" }
.aui-icon-vehicle-wi-fi-1-small:before { content: "\EC02" }
.aui-icon-vehicle-wi-fi-2-large:before { content: "\EC03" }
.aui-icon-vehicle-wi-fi-2-small:before { content: "\EC04" }
.aui-icon-vehicle-wi-fi-3-large:before { content: "\EC05" }
.aui-icon-vehicle-wi-fi-3-small:before { content: "\EC06" }
.aui-icon-vehicle-wi-fi-4-large:before { content: "\EC07" }
.aui-icon-vehicle-wi-fi-4-small:before { content: "\EC08" }
.aui-icon-velocity-alert-large:before { content: "\EC09" }
.aui-icon-velocity-alert-small:before { content: "\EC0A" }
.aui-icon-velocity-large:before { content: "\EC0B" }
.aui-icon-velocity-small:before { content: "\EC0C" }
.aui-icon-video-large:before { content: "\EC0D" }
.aui-icon-video-small:before { content: "\EC0E" }
.aui-icon-view-360-large:before { content: "\EC0F" }
.aui-icon-view-360-small:before { content: "\EC10" }
.aui-icon-vimeo-large:before { content: "\EC11" }
.aui-icon-vimeo-small:before { content: "\EC12" }
.aui-icon-voice-call-1-large:before { content: "\EC13" }
.aui-icon-voice-call-1-small:before { content: "\EC14" }
.aui-icon-voice-call-2-large:before { content: "\EC15" }
.aui-icon-voice-call-2-small:before { content: "\EC16" }
.aui-icon-voice-call-3-large:before { content: "\EC17" }
.aui-icon-voice-call-3-small:before { content: "\EC18" }
.aui-icon-voice-call-large:before { content: "\EC19" }
.aui-icon-voice-call-small:before { content: "\EC1A" }
.aui-icon-walk-large:before { content: "\EC1B" }
.aui-icon-walk-small:before { content: "\EC1C" }
.aui-icon-weblink-large:before { content: "\EC1D" }
.aui-icon-weblink-small:before { content: "\EC1E" }
.aui-icon-wechat-large:before { content: "\EC1F" }
.aui-icon-wechat-small:before { content: "\EC20" }
.aui-icon-weibo-large:before { content: "\EC21" }
.aui-icon-weibo-small:before { content: "\EC22" }
.aui-icon-work-large:before { content: "\EC23" }
.aui-icon-work-small:before { content: "\EC24" }
.aui-icon-xing-large:before { content: "\EC25" }
.aui-icon-xing-small:before { content: "\EC26" }
.aui-icon-yelp-large:before { content: "\EC27" }
.aui-icon-yelp-small:before { content: "\EC28" }
.aui-icon-youku-large:before { content: "\EC29" }
.aui-icon-youku-small:before { content: "\EC2A" }
.aui-icon-youtube-large:before { content: "\EC2B" }
.aui-icon-youtube-small:before { content: "\EC2C" }
.aui-icon-zhihu-large:before { content: "\EC2D" }
.aui-icon-zhihu-small:before { content: "\EC2E" }