@font-face {
  font-family: "Audi Type";
  src: url("fonts/audi-type-en/AudiType-ExtendedBold.ttf");
  font-weight: bold;
  font-stretch: extra-expanded;
}
@font-face {
  font-family: "Noto Sans CJK TC";
  src: url("fonts/noto-sans-zh/NotoSansCJKtc-Regular.otf");
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
