@import '../../../node_modules/@audi/audi-ui/src/index';

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: gray; /* old IE */
    background-color: gray; /* Modern Browsers */
}

hr.divisionLinesMarginBottom {
    margin-bottom: 50px;
}

hr.divisionLinesMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.orderConfirmedNotice {
    margin-top: 30px;
    margin-bottom: 30px;

}
.orderIDandTotalPrice {
    .orderIDTitle {
        font-weight: 200;

    }
    .orderID {
        text-decoration: underline;
        font-weight: 200;
        font-stretch: extra-expanded;
    }
}

.PaymentAndShipping {
    p {
        margin-bottom: 0;
    }
    .leftCol.payment {
        
        h2 {
            font-size: calc(10px + 1vw);
            color: black;
        }
        .ccInfo {
            .bold {
                font-weight: 500;
            }
            
        }
    }
    .rightCol.shipping {
        h2 {
            font-size: calc(10px + 1vw);
            color: black;
        }
        .shippingInfo {
            .bold {
                font-weight: 500;
            }
        }
    }
}
.InstallationReservation {
    margin-bottom: 80px;
    p {
        margin-bottom: 0;
    }
    .leftCol.reservation{
        
        h2 {
            font-size: calc(10px + 1vw);
            color: black;
        }
        .reservationLocation {
            .bold {
                font-weight: 500;
            }
        }
        .reservationTime {
            .bold {
                font-weight: 500;
            }
        }
    }
}
