@import '../../brand-colors.scss';

.favorites{
    table{
      text-align: center;
      thead{
        background-color: $audiBlack;
        color: $audiWhite;
      }
      .del_btn{
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      tbody{
        font-size: .8rem;
        font-weight: 400;
        .item{
          padding-top: 2%;
        }
        .itemImg{
          padding-top: 2%;
        }
        .productImg{
          height: 50px;
          width: 50px;
        }
      }
    }
  }