@import '../../brand-colors.scss';
@import '../../../../node_modules/@audi/audi-ui/src/index'; //audi ui

        @mixin transition($in) {
            transition:$in;
            -webkit-transition:$in;
            -moz-transition:$in;
            -o-transition:$in;
            -ms-transition:$in;
        }
        @mixin transform($in) {
            transform:$in;
            -webkit-transform:$in;
            -moz-transform:$in;
            -o-transform:$in;
            -ms-transform:$in;
        }
        @mixin animation($in) {
            animation:$in;
            -webkit-animation:$in;
            -moz-animation:$in;
            -o-animation:$in;
            -ms-animation:$in;
        }
.contact{
    .my_contact{
        background-color: $audiBlack;
        height: 60px;
        line-height: 60px;
        color:$audiWhite;
        padding-left: 12px;
        
    }
    
    .submit_btn {
        color:$audiWhite;
        border-color:transparent;
        outline:none;
        border:none;
        padding:10px 50px;
        display:block;
        margin:20px auto;
        cursor:pointer;
        font-size:20px;
        background-color:$audiBlack;
        position:relative;
        border:2px solid $audiWhite;
        @include transition(all 0.3s ease);
        &:before {                             
            width:0;
            height:3px;
            content:" ";
            background-color:$audiRed;
            position:absolute;
            top:0;
            left:50%;
    
            @include transition(all 0.3s ease);
        }
    
        &:after {
            @extend .submit_btn:before;
            top:100%;
        }
    
        &:hover {
            
            color:$audiWhite;
    
            &:before {
                width:100%;
                left:0;
            }
            &:after {
                width:100%;
                left:0;
            }
        }
    }  
}    

    
    
    
    
